.sidebar {
  top: 90px;
}

.fa-right {
  margin-left: 8px;
}
.fa-left {
  margin-right: 8px;
}

#KalturaNav.navbar {
  border-radius: 0px;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

#KalturaNav.navbar a {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

#KalturaNav.navbar-default .navbar-nav > li.active > a {
  background-color: #008096;
}
#KalturaNav.navbar-default .navbar-nav > li.active > a,
#KalturaNav.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

#KalturaNav.navbar-default .navbar-nav > li > a {
  text-align: left;
  color: #333;
}

#KalturaNav.navbar ul {
  margin-right: 0;
}

#KalturaNav li.signed-in {
  line-height: 45px;
  padding-left: 15px;
}

#KalturaNav.navbar .navbar-brand {
  padding: 4px;
  padding-left: 15px;
}

#KalturaNav.navbar img {
  max-height: 100%;
}

.btn.text-left {
  text-align: left;
}



html, body, iframe, .iframe-container, #Body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iframe-container {
  position: fixed;
  top: 69px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 69px;
}

@media (max-width: 767px) {
  .iframe-container {
    top: 270px;
    padding-bottom: 270px;
  }
}

iframe {
  border: none;
}

.navbar {
  margin-bottom: 0px;
}

.navbar > .container .recipe-navbar-title,
.navbar > .container-fluid .recipe-navbar-title {
  color: #008096;
  font-size: 28px;
  padding-top: 15px;
  margin-left: 0px;
}
