#Finish.control-set(ng-show="recipeStepIdx === recipe.recipe_steps.length")
  h3 {{ recipe.finish.title || 'Finished!' }}
  div(marked='recipe.finish.tip || "You\'re all done!"')
  hr
  #Feedback(ng-controller="Feedback")
    .form-group
      label How would you rate this recipe?
      p.stars(ng-mouseout="feedback.hoverRating = feedback.rating")
        span(ng-repeat="starNum in [0, 1, 2, 3, 4]")
          i.fa(ng-class="{'fa-star': starNum <= feedback.hoverRating, \
                          'fa-star-o': starNum > feedback.hoverRating}"
               ng-mouseover="feedback.hoverRating = starNum"
               ng-click="rateRecipe(starNum)")
    .form-group
      label What did you like? What should we change?
      textarea.form-control(ng-model="feedback.text")
    .alert.alert-danger(ng-show="alert.danger") {{ alert.danger }}
    .alert.alert-success(ng-show="alert.success") {{ alert.success }}
    .form-group
      a.btn.btn-sm.btn-success(ng-click="sendFeedback()") Submit

