#Language.control-set(ng-controller="Language",ng-hide="recipeStepIdx >= 0")
  p {{ recipe.description }}
  if recipe.video
    .video-container
      iframe(src="#{recipe.video}" width="560" height="395" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0")
  h4.header-no-top.text-regular Choose your programming language
  .dropdown
    button.btn.btn-info.btn-width-lg.btn-spaced(type='button',data-toggle='dropdown')
      span.fa.fa-spin.fa-refresh(ng-show="!languages.length")
      span(ng-show="languages.length")
        span {{ language ? language.label : 'Choose' }} &nbsp;
        span.caret
    ul.dropdown-menu
      li(role="presentation",ng-repeat="language in languages")
        a(role='menuitem',ng-click='setLanguage(language)') {{ language.label }}

