.control-set(ng-show="recipe.recipe_steps[recipeStepIdx]" ng-cloak)
  h3.header-no-top.text-regular {{ recipe.recipe_steps[recipeStepIdx].title }}
  p(marked="recipe.recipe_steps[recipeStepIdx].tip")
  form(name="inputForm" id="InputForm")
    .control-input.form-group(ng-repeat="input in recipe.recipe_steps[recipeStepIdx].inputs")
      div(ng-show="input.type === 'group'")
        .panel.panel-default
          .panel-heading
            h4.panel-title.text-regular
              a.link-fill.link-plain(data-toggle="collapse",href="#group{{$index}}")
                i.fa.fa-plus-square-o
                span &nbsp;{{ input.label }}
          .panel-collapse.collapse(id="group{{$index}}")
            .panel-body
              div(ng-repeat="input in input.inputs")
                include ../input.jade
      include ../input.jade
  a.btn.btn-success.btn-spaced.btn-width-sm(
      ng-show="recipe.recipe_steps[recipeStepIdx].disableAutorefresh",
      ng-click="refreshDemo()") Send Request

