include ../mixins/modal.jade

+modal('Login', 'Log In to Kaltura', 'Log In')

+modal('Signup', 'Try Kaltura for Free', 'Sign Up')
  a(data-toggle="modal" data-dismiss="modal" data-target="#Login") Already have an account?

