include ../mixins/modal.jade

+modal('Login', 'Log in to your Kaltura.com account', 'Log In')
  span Need an account?&nbsp;
  a(data-toggle="modal" data-dismiss="modal" data-target="#Signup") Try Kaltura for free!

+modal('Signup', 'Register for a free Kaltura.com VPaaS account', 'Sign Up')
  a(data-toggle="modal" data-dismiss="modal" data-target="#Login") Already have an account?

