#DownloadModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button"
               class="close"
               data-dismiss="modal"
               aria-label="Close")
          span(aria-hidden="true") &times;
        .modal-title
          h3 Download the Sample App
      .modal-body
        p You can download the sample code you've built here as a .zip file to run it locally.
        p Note that if you haven't completed the recipe, the code might not work yet.
        .alert.alert-info
          p You'll need to download the {{ language.label }} Kaltura Client Library
          p.small Visit&nbsp;
            a(href="{{clientLibLink}}" target="_blank") {{ clientLibLink }}&nbsp;
            span to download the library, and extract it to the&nbsp;
            span ./{{ libDir }} directory inside this zip.
        p.
          Once you've extracted the Sample App and added the client library, you can start
          the app by running
        p
          code {{language.startServer}}
      .modal-footer
        a.btn.btn-success(ng-click="download()")
          span Download
          span &nbsp;
          i.fa.fa-download

