meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

link(rel='stylesheet' href='/bower/fontawesome/css/font-awesome.min.css')
link(rel='stylesheet' href='/css/bootstrap.css')
link(rel='stylesheet' href='/css/styles.css')
link(rel='stylesheet' href='/css/navbar.css')

script(src="/bower/jquery/dist/jquery.min.js")
script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
script(src="/bower/angular/angular.min.js")
script(src="/bower/marked/lib/marked.js")
script(src="/bower/angular-marked/dist/angular-marked.js")

script(src="/js/ng/locations.js")
script(src="/js/includes/mixpanel.js")
script(src="/js/ng/cookie.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js")
script(src="/js/ng/app.js")
