style.
  body {
    padding-top: 62px;
  }
  .sidebar {
    top: 62px;
  }
  .sidebar-button.sidebar-button-fixed {
    top: 62px;
  }

div.
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WDBCN9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WDBCN9');</script>
  <!-- End Google Tag Manager -->

#Kaltura(ng-controller="Kaltura")
  include ./auth-modals.jade
  nav#KalturaNav.navbar.navbar-default.navbar-fixed-top(ng-controller="KalturaNav")
    .container-fluid
      .navbar-header
        a.navbar-brand(href="/")
          img(src="/img/kaltura_dev.png" height="50" width="212")
        a.pull-right.visible-xs.visible-sm.expand-nav-button(ng-click="expandNav = !expandNav")
          i.fa(ng-class="expandNav ? 'fa-times' : 'fa-bars'")
      #collapse-bar(ng-class="expandNav ? '' : 'hidden-xs hidden-sm'")
        ul.nav.navbar-nav.navbar-left(ng-show="!showSearch")
          li.navbar-link(ng-repeat="link in navbarLinks" ng-class="{'last-navbar-link': $index === navbarLinks.length - 1}")
            a(href="{{link.href}}" ng-if="link.href" ng-bind="link.title")
            a.dropdown-toggle(data-toggle="dropdown" ng-if="link.items")
              span(ng-bind="link.title")
              i.fa.fa-right.fa-chevron-down
            ul.dropdown-menu
              li(ng-repeat="item in link.items")
                a(href="{{item.href}}" ng-bind="item.title")
        ul.nav.navbar-nav.navbar-right(ng-show="!showSearch")
          li.navbar-link.last-navbar-link.signed-in.text-bold(ng-if="user.userId")
            .fake-btn
              span.hidden-sm.hidden-md
                span(ng-bind="user.userId")
                span &nbsp;
              span
                a(href="javascript:;" ng-click="setUser({})") [sign out]
          li.navbar-link.last-navbar-link.text-bold(ng-if="!user.userId")
            a#SignupButton(data-toggle="modal" data-target="#KalturaSignup") Sign Up
          li.navbar-link.last-navbar-link.text-bold(ng-if="!user.userId")
            a#LoginButton(data-toggle="modal" data-target="#KalturaLogin") Sign In
