include ./auth-modals.jade
nav.navbar.navbar-default
  +container
    .navbar-header
      a.navbar-brand(href="/")
        img(src="/img/kaltura_dev.png")
      if typeof recipe !== 'undefined'
        a.navbar-brand.recipe-navbar-title(href="#")
          span(href="#")= recipe.title
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/console") API Console
      li
        a(href="/") Code Recipes
      li.signed-in.text-bold(ng-if="user.userId" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false")
        span Signed in as {{user.userId}} 
          a(href="javascript:;" ng-click="setUser({})") [sign out]
      li.text-bold(ng-if="!user.userId")
        a#LoginButton(data-toggle="modal" data-target="#Login") Sign In
