config.sh
node_modules/
static/bower/
static/test.html

test/golden/ruby/**/development.log
test/golden/ruby/**/.keep
test/golden/ruby/*/*/*.lock
test/golden/ruby/*/*/log/
test/golden/ruby/*/*/tmp/

test/golden/**/*.svg
test/golden/**/*.png
test/golden/**/*.mp4
test/golden/**/*.srt

