<lucy include="AddAdCuePointForm"></lucy>
<script>
  $('#AddAdCuePointForm').submit(function() {
    var cuePoint = new KalturaAdCuePoint();
    cuePoint.cuePointType = KalturaCuePointType.AD;
    cuePoint.adType = KalturaAdType.VIDEO;
    cuePoint.protocolType = KalturaAdProtocolType.VAST;
    cuePoint.sourceUrl = $('input[name="sourceUrl"]').val();
    cuePoint.startTime = $('input[name="startTime"]').val();
    cuePoint.entryId = "<%- Lucy.answer('entryIdEqual') %>";
    client.cuePoint.add(function(success, cuePoint) {
      $('.container').html(CuePointAddedView({result: cuePoint}));
    }, cuePoint);
    return false;
  })
</script>
