<lucy include="AddAppTokenForm"></lucy>
<script>
  $('#AddAppTokenForm').submit(function() {
    var appToken = new KalturaAppToken();
    appToken.sessionDuration = $('input[name="sessionDuration"]').val();
    appToken.sessionType = parseInt($('input[name="sessionType"]').val());
    client.appToken.add(function(success, appToken) {
      client.appToken.listAction(function(success, response) {
        $('.container').html(KalturaAppTokenListResponseView({result: response.objects}));
      })
    }, appToken);
    return false;
  })
</script>
