<form id="AddCuePointForm">
  <div class="form-group">
    <label>Start Time (ms)</label>
    <input class="form-control" type="number" name="startTime">
  </div>
  <div class="form-group">
    <label>Duration (ms)</label>
    <input class="form-control" type="number" name="duration">
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" value="Add Cue Point">
  </div>
</form>
<script>
  $('#AddCuePointForm').submit(function() {
    var cuePoint = new KalturaAdCuePoint();
    cuePoint.duration = $('input[name="duration"]').val();
    cuePoint.startTime = $('input[name="startTime"]').val();
    cuePoint.entryId = "<%- Lucy.answer('entryIdEqual') %>";
    client.cuePoint.add(function(success, cuePoint) {
      listCuePoint({}, function(result) {
        $('.container').html(KalturaCuePointListResponse({result: result}));
      })
    }, cuePoint);
    return false;
  })
</script>
