<form id="AddCuePointForm">
  <div class="form-group">
    <label>Start Time (ms)</label>
    <input class="form-control" type="number" name="startTime">
  </div>
  <div class="form-group">
    <label>Duration (ms)</label>
    <input class="form-control" type="number" name="duration">
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" value="Add Cue Point">
  </div>
</form>
<hr>
<div id="CuePointAdded"></div>
<script>
  $('#AddCuePointForm').submit(function() {
    var cuePoint = new KalturaAdCuePoint();
    cuePoint.cuePointType = KalturaCuePointType.AD;
    cuePoint.adType = KalturaAdType.VIDEO;
    cuePoint.protocolType = KalturaAdProtocolType.VAST;
    cuePoint.sourceUrl = 'http://projects.kaltura.com/mdale/hotelVastAd.xml';
    cuePoint.duration = $('input[name="duration"]').val();
    cuePoint.startTime = $('input[name="startTime"]').val();
    cuePoint.entryId = "<%- Lucy.answer('entryIdEqual') %>";
    client.cuePoint.add(function(success, cuePoint) {
      $('.container').html(CuePointAdded({result: cuePoint}));
    }, cuePoint);
    return false;
  })
</script>
