<lucy include="AddQuestionCuePointForm"></lucy>
<script>
  $('#AddQuestionCuePointForm').submit(function() {
var entryId = "<%- Lucy.answer('entryIdEqual') %>";
var quiz = new KalturaQuiz();
var attsAr = [];
attsAr.push({'key' : WelcomeMessage , 'value' : 'blah'});
attsAr.push({'key' : inVideoTip , 'value' : true});
attsAr.push({'key' : canSkip , 'value' : true});
quiz.uiAttributes = attsAr;
client.quiz.add(function(result) {
},entryId,quiz);

var cuePoint = new Kaltura.objects.KalturaQuestionCuePoint();
cuePoint.quesion = req.body.question;
cuePoint.startTime = req.body.startTime;
cuePoint.entryId = entryId;
    client.cuePoint.add(function(success, cuePoint) {
      $('.container').html(QuestionCuePointAddedView({result: cuePoint}));
    }, cuePoint);
    return false;
  })
</script>
