<script type="text/javascript">
  var setupUpload = function() {
    if (!client.ks) return setTimeout(setupUpload, 100);
    file = $('input[name="fileData"]').fileupload({
      apiURL:'<%- Lucy.answer("serviceURL") %>api_v3/',
      url: '<%- Lucy.answer("serviceURL") %>api_v3/?service=uploadToken&action=upload&format=1',
      ks: client.ks,
      singleFileUploads: true,
      dataType: 'json',
      autoUpload: true,
      submit: function(e, data) {
        $('#UploadStatusBar').show();
      },
      done: function(e, data) {
        $('#UploadDone').html(UploadDoneView({result: data.result}));
      },
    });
  };
  $(document).ready(setupUpload);
</script>

<h1>Upload Video</h1>
<hr>
<label>Video to Upload</label>
<input type="file" name="fileData">
<div id="UploadStatusBar" class="alert alert-info" style="display: none">
  <i class="fa fa-spin fa-refresh"></i>&nbsp;&nbsp;
  <span id="UploadStatus">
    Uploading
  </span>
</div>
<div id="UploadSuccess" class="alert alert-success" style="display: none">
  Entry was converted successfully and is ready for playback
</div>
<div id="UploadDone"></div>
