<script type="text/javascript">
  var setupUpload = function() {
    if (!client.ks) return setTimeout(setupUpload, 100);
    file = $('input[name="fileData"]').fileupload({
      apiURL:'<%- Lucy.answer("serviceURL") %>api_v3/',
      url: '<%- Lucy.answer("serviceURL") %>api_v3/?service=uploadToken&action=upload&format=1',
      ks: client.ks,
      singleFileUploads: true,
      dataType: 'json',
      autoUpload: true,
      submit: function(e, data) {
        $('#Uploading').show();
      },
      done: function(e, data) {
        $('#Uploading').hide();
        $('#UploadDone').html(CaptionUploadDoneView({result: data.result}));
      },
    });
  };
  $(document).ready(setupUpload);
</script>

<h1>Upload Captions</h1>
<hr>
<div id="Uploading" class="alert alert-info hidden">
  <p>Uploading  </p>
  <i class="fa fa-spin fa-refresh"></i>
</div>
<label>Caption File (SRT)</label>
<input type="file" name="fileData">
<div id="UploadDone"></div>
