<script type="text/javascript">
  var setupUpload = function() {
    if (!client.ks) return setTimeout(setupUpload, 100);
    file = $('input[name="fileData"]').fileupload({
      apiURL:'http://www.kaltura.com/api_v3/',
      url: 'http://www.kaltura.com/api_v3/?service=uploadToken&action=upload&format=1',
      ks: client.ks,
      singleFileUploads: true,
      dataType: 'json',
      autoUpload: true,
      submit: function(e, data) {
        $('#Uploading').show();
      },
      done: function(e, data) {
        $('#UploadDone').html(UploadDone({result: data.result}));
      },
    });
  };
  $(document).ready(setupUpload);
</script>

<h1>Upload Video</h1>
<label>Video to Upload</label>
<input type="file" name="fileData">
<div id="UploadDone"></div>
