{
  "swagger": "2.0",
  "host": "www.kaltura.com",
  "schemes": [
    "http",
    "https"
  ],
  "basePath": "/api_v3",
  "info": {
    "title": "Kaltura",
    "description": "The Kaltura API",
    "version": "3.6.287.19813"
  },
  "securityDefinitions": {
    "ks": {
      "in": "query",
      "name": "ks",
      "type": "apiKey",
      "description": "A session ID generated by calling /service/session/action/start"
    }
  },
  "definitions": {
    "KalturaObjectBase": {},
    "KalturaAnnouncement": {
      "properties": {
        "name": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "startTime": {
          "type": "integer"
        },
        "timezone": {
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Enum Type: `KalturaAnnouncementStatus`",
          "type": "string",
          "enum": [
            "NotSent",
            "Sending",
            "Sent",
            "Aborted"
          ],
          "x-enumLabels": [
            "NOTSENT",
            "SENDING",
            "SENT",
            "ABORTED"
          ]
        },
        "recipients": {
          "description": "Enum Type: `KalturaAnnouncementRecipientsType`",
          "type": "string",
          "enum": [
            "All",
            "LoggedIn",
            "Guests",
            "Other"
          ],
          "x-enumLabels": [
            "ALL",
            "LOGGEDIN",
            "GUESTS",
            "OTHER"
          ]
        },
        "id": {
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "KalturaFilter": {
      "properties": {
        "orderBy": {
          "type": "integer"
        }
      }
    },
    "KalturaAnnouncementFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaFilter"
        }
      ],
      "properties": {}
    },
    "KalturaFilterPager": {
      "description": "The KalturaFilterPager object enables paging management to be applied upon service list actions",
      "properties": {
        "pageSize": {
          "description": "The number of objects to retrieve. Possible range 1 ≤ value ≤ 50. If omitted or value &lt; 1 - will be set to 25. If a value &gt; 50 provided – will be set to 50",
          "type": "integer"
        },
        "pageIndex": {
          "description": "The page number for which {pageSize} of objects should be retrieved",
          "type": "integer"
        }
      }
    },
    "KalturaListResponse": {
      "description": "Base list wrapper",
      "properties": {
        "totalCount": {
          "description": "Total items",
          "type": "integer"
        }
      }
    },
    "KalturaRegionalChannel": {
      "properties": {
        "linearChannelId": {
          "description": "The identifier of the linear media representing the channel",
          "type": "integer"
        },
        "channelNumber": {
          "description": "The number of the channel",
          "type": "integer"
        }
      }
    },
    "KalturaRegion": {
      "properties": {
        "id": {
          "description": "Region identifier",
          "type": "integer"
        },
        "name": {
          "description": "Region name",
          "type": "string"
        },
        "externalId": {
          "description": "Region external identifier",
          "type": "string"
        },
        "isDefault": {
          "description": "Indicates whether this is the default region for the partner",
          "type": "boolean"
        },
        "linearChannels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaRegionalChannel"
          }
        }
      }
    },
    "KalturaRegionListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Regions list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaRegion"
          }
        }
      }
    },
    "KalturaUserAssetRule": {
      "description": "User asset rule - representing different type of rules on an asset(Parental, Geo, User Type, Device)",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Unique rule identifier",
          "type": "integer"
        },
        "ruleType": {
          "description": "Enum Type: `KalturaRuleType`\n\nRule type - possible values: Rule type – Parental, Geo, UserType, Device",
          "type": "string",
          "enum": [
            "parental",
            "geo",
            "user_type",
            "device"
          ],
          "x-enumLabels": [
            "PARENTAL",
            "GEO",
            "USER_TYPE",
            "DEVICE"
          ]
        },
        "name": {
          "description": "Rule display name",
          "type": "string"
        },
        "description": {
          "description": "Additional description for the specific rule",
          "type": "string"
        }
      }
    },
    "KalturaUserAssetRuleListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "GenericRules list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaUserAssetRule"
          }
        }
      }
    },
    "KalturaValue": {
      "description": "A representation to return an array of values",
      "properties": {
        "description": {
          "type": "string"
        }
      }
    },
    "KalturaLongValue": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaValue"
        }
      ],
      "description": "A string representation to return an array of longs",
      "properties": {
        "value": {
          "type": "integer"
        }
      }
    },
    "KalturaDoubleValue": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaValue"
        }
      ],
      "description": "A string representation to return an array of doubles",
      "properties": {
        "value": {
          "type": "number"
        }
      }
    },
    "KalturaBooleanValue": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaValue"
        }
      ],
      "description": "A string representation to return an array of booleans",
      "properties": {
        "value": {
          "type": "boolean"
        }
      }
    },
    "KalturaIntegerValue": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaValue"
        }
      ],
      "description": "A string representation to return an array of ints",
      "properties": {
        "value": {
          "type": "integer"
        }
      }
    },
    "KalturaStringValue": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaValue"
        }
      ],
      "description": "A string representation to return an array of strings",
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "KalturaCDNAdapterProfile": {
      "description": "CDN Adapter",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "CDN adapter identifier",
          "type": "integer"
        },
        "name": {
          "description": "CDNR adapter name",
          "type": "string"
        },
        "isActive": {
          "description": "CDN adapter active status",
          "type": "boolean"
        },
        "adapterUrl": {
          "description": "CDN adapter URL",
          "type": "string"
        },
        "baseUrl": {
          "description": "CDN adapter base URL",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "systemName": {
          "description": "CDN adapter alias",
          "type": "string"
        },
        "sharedSecret": {
          "readOnly": true,
          "description": "CDN shared secret",
          "type": "string"
        }
      }
    },
    "KalturaCDNAdapterProfileListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaCDNAdapterProfile"
          }
        }
      }
    },
    "KalturaSlimAsset": {
      "description": "Slim Asset Details",
      "properties": {
        "id": {
          "description": "Internal identifier of the asset",
          "type": "string"
        },
        "type": {
          "description": "Enum Type: `KalturaAssetType`\n\nThe type of the asset. Possible values: media, recording, epg",
          "type": "string",
          "enum": [
            "media",
            "recording",
            "epg"
          ],
          "x-enumLabels": [
            "MEDIA",
            "RECORDING",
            "EPG"
          ]
        }
      }
    },
    "KalturaBaseOTTUser": {
      "description": "Slim user data",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "User identifier",
          "type": "string"
        },
        "username": {
          "description": "Username",
          "type": "string"
        },
        "firstName": {
          "description": "First name",
          "type": "string"
        },
        "lastName": {
          "description": "Last name",
          "type": "string"
        }
      }
    },
    "KalturaCountry": {
      "description": "Country details",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Country identifier",
          "type": "integer"
        },
        "name": {
          "description": "Country name",
          "type": "string"
        },
        "code": {
          "description": "Country code",
          "type": "string"
        }
      }
    },
    "KalturaOTTUserType": {
      "description": "User type",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "User type identifier",
          "type": "integer"
        },
        "description": {
          "description": "User type description",
          "type": "string"
        }
      }
    },
    "KalturaOTTUser": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaBaseOTTUser"
        }
      ],
      "description": "User",
      "properties": {
        "householdId": {
          "readOnly": true,
          "description": "Household identifier",
          "type": "integer"
        },
        "email": {
          "description": "Email",
          "type": "string"
        },
        "address": {
          "description": "Address",
          "type": "string"
        },
        "city": {
          "description": "City",
          "type": "string"
        },
        "country": {
          "$ref": "#/definitions/KalturaCountry"
        },
        "zip": {
          "description": "Zip code",
          "type": "string"
        },
        "phone": {
          "description": "Phone",
          "type": "string"
        },
        "affiliateCode": {
          "description": "Affiliate code",
          "type": "string"
        },
        "externalId": {
          "description": "External user identifier",
          "type": "string"
        },
        "userType": {
          "$ref": "#/definitions/KalturaOTTUserType"
        },
        "dynamicData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "isHouseholdMaster": {
          "readOnly": true,
          "description": "Is the user the household master",
          "type": "boolean"
        },
        "suspentionState": {
          "readOnly": true,
          "description": "Enum Type: `KalturaHouseholdSuspentionState`\n\nSuspention state",
          "type": "string",
          "enum": [
            "not_suspended",
            "suspended"
          ],
          "x-enumLabels": [
            "NOT_SUSPENDED",
            "SUSPENDED"
          ]
        },
        "userState": {
          "readOnly": true,
          "description": "Enum Type: `KalturaUserState`\n\nUser state",
          "type": "string",
          "enum": [
            "ok",
            "user_with_no_household",
            "user_created_with_no_role",
            "user_not_activated"
          ],
          "x-enumLabels": [
            "OK",
            "USER_WITH_NO_HOUSEHOLD",
            "USER_CREATED_WITH_NO_ROLE",
            "USER_NOT_ACTIVATED"
          ]
        }
      }
    },
    "KalturaBookmarkPlayerData": {
      "properties": {
        "action": {
          "description": "Enum Type: `KalturaBookmarkActionType`\n\nAction",
          "type": "string",
          "enum": [
            "HIT",
            "PLAY",
            "STOP",
            "PAUSE",
            "FIRST_PLAY",
            "SWOOSH",
            "FULL_SCREEN",
            "SEND_TO_FRIEND",
            "LOAD",
            "FULL_SCREEN_EXIT",
            "FINISH",
            "ERROR",
            "BITRATE_CHANGE",
            "NONE"
          ],
          "x-enumLabels": [
            "HIT",
            "PLAY",
            "STOP",
            "PAUSE",
            "FIRST_PLAY",
            "SWOOSH",
            "FULL_SCREEN",
            "SEND_TO_FRIEND",
            "LOAD",
            "FULL_SCREEN_EXIT",
            "FINISH",
            "ERROR",
            "BITRATE_CHANGE",
            "NONE"
          ]
        },
        "averageBitrate": {
          "description": "Average Bitrate",
          "type": "integer"
        },
        "totalBitrate": {
          "description": "Total Bitrate",
          "type": "integer"
        },
        "currentBitrate": {
          "description": "Current Bitrate",
          "type": "integer"
        },
        "fileId": {
          "description": "Identifier of the file",
          "type": "integer"
        }
      }
    },
    "KalturaBookmark": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaSlimAsset"
        }
      ],
      "properties": {
        "userId": {
          "readOnly": true,
          "description": "User identifier",
          "type": "string"
        },
        "position": {
          "description": "The position of the user in the specific asset (in seconds)",
          "type": "integer"
        },
        "positionOwner": {
          "description": "Enum Type: `KalturaPositionOwner`\n\nIndicates who is the owner of this position",
          "type": "string",
          "enum": [
            "household",
            "user"
          ],
          "x-enumLabels": [
            "HOUSEHOLD",
            "USER"
          ]
        },
        "finishedWatching": {
          "description": "Specifies whether the user&#39;s current position exceeded 95% of the duration",
          "type": "boolean"
        },
        "playerData": {
          "$ref": "#/definitions/KalturaBookmarkPlayerData"
        }
      }
    },
    "KalturaBookmarkListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of assets and their bookmarks",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaBookmark"
          }
        }
      }
    },
    "KalturaStringValueArray": {
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        }
      }
    },
    "KalturaMediaImage": {
      "description": "Image details",
      "properties": {
        "ratio": {
          "description": "Image aspect ratio",
          "type": "string"
        },
        "width": {
          "description": "Image width",
          "type": "integer"
        },
        "height": {
          "description": "Image height",
          "type": "integer"
        },
        "url": {
          "description": "Image URL",
          "type": "string"
        },
        "version": {
          "description": "Image Version",
          "type": "integer"
        },
        "id": {
          "readOnly": true,
          "description": "Image ID",
          "type": "string"
        },
        "isDefault": {
          "description": "Determined whether image was taken from default configuration or not",
          "type": "boolean"
        }
      }
    },
    "KalturaMediaFile": {
      "description": "Media file details",
      "properties": {
        "assetId": {
          "description": "Unique identifier for the asset",
          "type": "integer"
        },
        "id": {
          "readOnly": true,
          "description": "File unique identifier",
          "type": "integer"
        },
        "type": {
          "description": "Device types as defined in the system",
          "type": "string"
        },
        "url": {
          "description": "URL of the media file to be played",
          "type": "string"
        },
        "duration": {
          "description": "Duration of the media file",
          "type": "integer"
        },
        "externalId": {
          "description": "External identifier for the media file",
          "type": "string"
        }
      }
    },
    "KalturaBuzzScore": {
      "description": "Buzz score",
      "properties": {
        "normalizedAvgScore": {
          "description": "Normalized average score",
          "type": "number"
        },
        "updateDate": {
          "description": "Update date",
          "type": "integer"
        },
        "avgScore": {
          "description": "Average score",
          "type": "number"
        }
      }
    },
    "KalturaAssetStatistics": {
      "description": "Asset statistics",
      "properties": {
        "assetId": {
          "description": "Unique identifier for the asset",
          "type": "integer"
        },
        "likes": {
          "description": "Total number of likes for this asset",
          "type": "integer"
        },
        "views": {
          "description": "Total number of views for this asset",
          "type": "integer"
        },
        "ratingCount": {
          "description": "Number of people that rated the asset",
          "type": "integer"
        },
        "rating": {
          "description": "Average rating for the asset",
          "type": "number"
        },
        "buzzScore": {
          "$ref": "#/definitions/KalturaBuzzScore"
        }
      }
    },
    "KalturaBaseAssetInfo": {
      "description": "Slim asset info",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Unique identifier for the asset",
          "type": "integer"
        },
        "type": {
          "description": "Identifies the asset type (EPG, Movie, TV Series, etc). \r\n            Possible values: 0 – EPG linear programs, or any asset type ID according to the asset types IDs defined in the system.",
          "type": "integer"
        },
        "name": {
          "description": "Asset name",
          "type": "string"
        },
        "description": {
          "description": "Asset description",
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaMediaImage"
          }
        },
        "mediaFiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaMediaFile"
          }
        }
      }
    },
    "KalturaAsset": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaBaseAssetInfo"
        }
      ],
      "description": "Asset info",
      "properties": {
        "metas": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaValue"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValueArray"
          }
        },
        "startDate": {
          "description": "Date and time represented as epoch. For VOD – since when the asset is available in the catalog. For EPG/Linear – when the program is aired (can be in the future).",
          "type": "integer"
        },
        "endDate": {
          "description": "Date and time represented as epoch. For VOD – till when the asset be available in the catalog. For EPG/Linear – program end time and date",
          "type": "integer"
        },
        "enableCdvr": {
          "description": "Enable cDVR",
          "type": "boolean"
        },
        "enableCatchUp": {
          "description": "Enable catch-up",
          "type": "boolean"
        },
        "enableStartOver": {
          "description": "Enable start over",
          "type": "boolean"
        },
        "enableTrickPlay": {
          "description": "Enable trick-play",
          "type": "boolean"
        }
      }
    },
    "KalturaAssetListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Asset wrapper",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaAsset"
          }
        }
      }
    },
    "KalturaProgramAsset": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAsset"
        }
      ],
      "description": "Program-asset info",
      "properties": {
        "epgChannelId": {
          "description": "EPG channel identifier",
          "type": "integer"
        },
        "epgId": {
          "description": "EPG identifier",
          "type": "string"
        },
        "relatedMediaId": {
          "description": "Ralated media identifier",
          "type": "integer"
        },
        "crid": {
          "description": "Unique identifier for the program",
          "type": "string"
        }
      }
    },
    "KalturaMediaAsset": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAsset"
        }
      ],
      "description": "Media-asset info",
      "properties": {
        "systemStartDate": {
          "description": "Date and time represented as epoch.",
          "type": "integer"
        },
        "systemFinalDate": {
          "description": "Date and time represented as epoch.",
          "type": "integer"
        },
        "externalIds": {
          "description": "External identifiers",
          "type": "string"
        },
        "catchUpBuffer": {
          "description": "Catch-up buffer",
          "type": "integer"
        },
        "trickPlayBuffer": {
          "description": "Trick-play buffer",
          "type": "integer"
        },
        "enableRecordingPlaybackNonEntitledChannel": {
          "readOnly": true,
          "description": "Enable Recording playback for non entitled channel",
          "type": "boolean"
        },
        "enableRecordingPlaybackNonExistingChannel": {
          "readOnly": true,
          "description": "Enable Recording playback for non existing channel",
          "type": "boolean"
        }
      }
    },
    "KalturaAssetComment": {
      "description": "Asset Comment",
      "properties": {
        "id": {
          "description": "Comment ID",
          "type": "integer"
        },
        "assetId": {
          "description": "Asset identifier",
          "type": "string"
        },
        "assetType": {
          "description": "Enum Type: `KalturaAssetType`\n\nAsset Type",
          "type": "string",
          "enum": [
            "media",
            "recording",
            "epg"
          ],
          "x-enumLabels": [
            "MEDIA",
            "RECORDING",
            "EPG"
          ]
        },
        "header": {
          "description": "Header",
          "type": "string"
        },
        "subHeader": {
          "description": "Sub Header",
          "type": "string"
        },
        "text": {
          "description": "Text",
          "type": "string"
        },
        "createDate": {
          "description": "CreateDate",
          "type": "integer"
        },
        "writer": {
          "description": "Writer",
          "type": "string"
        }
      }
    },
    "KalturaAssetCommentListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Asset Comment Response",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaAssetComment"
          }
        }
      }
    },
    "KalturaSeriesRecording": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Kaltura unique ID representing the series recording identifier",
          "type": "integer"
        },
        "epgId": {
          "description": "Kaltura EpgId",
          "type": "integer"
        },
        "channelId": {
          "description": "Kaltura ChannelId",
          "type": "integer"
        },
        "seriesId": {
          "description": "Kaltura SeriesId",
          "type": "string"
        },
        "seasonNumber": {
          "description": "Kaltura SeasonNumber",
          "type": "integer"
        },
        "type": {
          "description": "Enum Type: `KalturaRecordingType`\n\nRecording Type: single/series/season",
          "type": "string",
          "enum": [
            "SINGLE",
            "SEASON",
            "SERIES"
          ],
          "x-enumLabels": [
            "SINGLE",
            "SEASON",
            "SERIES"
          ]
        },
        "createDate": {
          "readOnly": true,
          "description": "Specifies when was the series recording created. Date and time represented as epoch.",
          "type": "integer"
        },
        "updateDate": {
          "readOnly": true,
          "description": "Specifies when was the series recording last updated. Date and time represented as epoch.",
          "type": "integer"
        },
        "excludedSeasons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaIntegerValue"
          }
        }
      }
    },
    "KalturaSeriesRecordingListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Series Recordings info wrapper",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaSeriesRecording"
          }
        }
      }
    },
    "KalturaPremiumService": {
      "description": "Premium service",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Service identifier",
          "type": "integer"
        },
        "name": {
          "description": "Service name / description",
          "type": "string"
        }
      }
    },
    "KalturaHouseholdPremiumService": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaPremiumService"
        }
      ],
      "description": "Houshold premium service",
      "properties": {}
    },
    "KalturaHouseholdPremiumServiceListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Premium services list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaHouseholdPremiumService"
          }
        }
      }
    },
    "KalturaCDVRAdapterProfile": {
      "description": "C-DVR Adapter",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "C-DVR adapter identifier",
          "type": "integer"
        },
        "name": {
          "description": "C-DVR adapter name",
          "type": "string"
        },
        "isActive": {
          "description": "C-DVR adapter active status",
          "type": "boolean"
        },
        "adapterUrl": {
          "description": "C-DVR adapter adapter URL",
          "type": "string"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "externalIdentifier": {
          "description": "C-DVR adapter external identifier",
          "type": "string"
        },
        "sharedSecret": {
          "readOnly": true,
          "description": "C-DVR shared secret",
          "type": "string"
        },
        "dynamicLinksSupport": {
          "description": "Indicates whether the C-DVR adapter supports dynamic URLs",
          "type": "boolean"
        }
      }
    },
    "KalturaCDVRAdapterProfileListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "C-DVR adapter profiles",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaCDVRAdapterProfile"
          }
        }
      }
    },
    "KalturaExportTask": {
      "description": "Bulk export task",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Task identifier",
          "type": "integer"
        },
        "alias": {
          "description": "Alias for the task used to solicit an export using API",
          "type": "string"
        },
        "name": {
          "description": "Task display name",
          "type": "string"
        },
        "dataType": {
          "description": "Enum Type: `KalturaExportDataType`\n\nThe data type exported in this task",
          "type": "string",
          "enum": [
            "vod",
            "epg",
            "users"
          ],
          "x-enumLabels": [
            "VOD",
            "EPG",
            "USERS"
          ]
        },
        "filter": {
          "description": "Filter to apply on the export, utilize KSQL.\r\n            Note: KSQL currently applies to media assets only. It cannot be used for USERS filtering",
          "type": "string"
        },
        "exportType": {
          "description": "Enum Type: `KalturaExportType`\n\nType of export batch – full or incremental",
          "type": "string",
          "enum": [
            "full",
            "incremental"
          ],
          "x-enumLabels": [
            "FULL",
            "INCREMENTAL"
          ]
        },
        "frequency": {
          "description": "How often the export should occur, reasonable minimum threshold should apply, configurable in minutes",
          "type": "integer"
        },
        "notificationUrl": {
          "description": "The URL for sending a notification when the task&#39;s export process is done",
          "type": "string"
        },
        "vodTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaIntegerValue"
          }
        },
        "isActive": {
          "description": "Indicates if the task is active or not",
          "type": "boolean"
        }
      }
    },
    "KalturaExportTaskListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Export task list wrapper",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaExportTask"
          }
        }
      }
    },
    "KalturaChannelEnrichmentHolder": {
      "description": "Holder object for channel enrichment enum",
      "properties": {
        "type": {
          "description": "Enum Type: `KalturaChannelEnrichment`",
          "type": "string",
          "enum": [
            "ClientLocation",
            "UserId",
            "HouseholdId",
            "DeviceId",
            "DeviceType",
            "UTCOffset",
            "Language",
            "NPVRSupport",
            "Catchup",
            "Parental",
            "DTTRegion",
            "AtHome"
          ],
          "x-enumLabels": [
            "CLIENTLOCATION",
            "USERID",
            "HOUSEHOLDID",
            "DEVICEID",
            "DEVICETYPE",
            "UTCOFFSET",
            "LANGUAGE",
            "NPVRSUPPORT",
            "CATCHUP",
            "PARENTAL",
            "DTTREGION",
            "ATHOME"
          ]
        }
      }
    },
    "KalturaExternalChannelProfile": {
      "description": "OSS Adapter",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "External channel id",
          "type": "integer"
        },
        "name": {
          "description": "External channel name",
          "type": "string"
        },
        "isActive": {
          "description": "External channel active status",
          "type": "boolean"
        },
        "externalIdentifier": {
          "description": "External channel external identifier",
          "type": "string"
        },
        "filterExpression": {
          "description": "Filter expression",
          "type": "string"
        },
        "recommendationEngineId": {
          "description": "Recommendation engine id",
          "type": "integer"
        },
        "enrichments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaChannelEnrichmentHolder"
          }
        }
      }
    },
    "KalturaExternalChannelProfileListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "External channel profiles",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaExternalChannelProfile"
          }
        }
      }
    },
    "KalturaRecommendationProfile": {
      "description": "PaymentGW",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "recommendation engine id",
          "type": "integer"
        },
        "name": {
          "description": "recommendation engine name",
          "type": "string"
        },
        "isActive": {
          "description": "recommendation engine is active status",
          "type": "boolean"
        },
        "adapterUrl": {
          "description": "recommendation engine adapter URL",
          "type": "string"
        },
        "recommendationEngineSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "externalIdentifier": {
          "description": "recommendation engine external identifier",
          "type": "string"
        },
        "sharedSecret": {
          "readOnly": true,
          "description": "Shared Secret",
          "type": "string"
        }
      }
    },
    "KalturaRecommendationProfileListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of recommendation profiles.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaRecommendationProfile"
          }
        }
      }
    },
    "KalturaRegistrySettings": {
      "properties": {
        "key": {
          "description": "Permission item identifier",
          "type": "string"
        },
        "value": {
          "description": "Permission item name",
          "type": "string"
        }
      }
    },
    "KalturaRegistrySettingsListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of registry settings.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaRegistrySettings"
          }
        }
      }
    },
    "KalturaHouseholdPaymentMethod": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Household payment method identifier (internal)",
          "type": "integer"
        },
        "paymentGatewayId": {
          "description": "Payment-gateway identifier",
          "type": "integer"
        },
        "name": {
          "description": "Payment method name",
          "type": "string"
        },
        "allowMultiInstance": {
          "description": "Indicates whether the payment method allow multiple instances",
          "type": "boolean"
        }
      }
    },
    "KalturaHouseholdPaymentMethodListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of household payment methods.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaHouseholdPaymentMethod"
          }
        }
      }
    },
    "KalturaPaymentMethodProfile": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Payment method identifier (internal)",
          "type": "integer"
        },
        "paymentGatewayId": {
          "description": "Payment gateway identifier (internal)",
          "type": "integer"
        },
        "name": {
          "description": "Payment method name",
          "type": "string"
        },
        "allowMultiInstance": {
          "description": "Indicates whether the payment method allow multiple instances",
          "type": "boolean"
        }
      }
    },
    "KalturaPaymentMethodProfileListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of payment method profiles.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPaymentMethodProfile"
          }
        }
      }
    },
    "KalturaPrice": {
      "description": "Price",
      "properties": {
        "amount": {
          "description": "Price",
          "type": "number"
        },
        "currency": {
          "description": "Currency",
          "type": "string"
        },
        "currencySign": {
          "description": "Currency Sign",
          "type": "string"
        }
      }
    },
    "KalturaProductPrice": {
      "properties": {
        "productId": {
          "description": "Product identifier",
          "type": "string"
        },
        "productType": {
          "description": "Enum Type: `KalturaTransactionType`\n\nProduct Type",
          "type": "string",
          "enum": [
            "ppv",
            "subscription",
            "collection"
          ],
          "x-enumLabels": [
            "PPV",
            "SUBSCRIPTION",
            "COLLECTION"
          ]
        },
        "price": {
          "$ref": "#/definitions/KalturaPrice"
        },
        "purchaseStatus": {
          "description": "Enum Type: `KalturaPurchaseStatus`\n\nProduct purchase status",
          "type": "string",
          "enum": [
            "ppv_purchased",
            "free",
            "for_purchase_subscription_only",
            "subscription_purchased",
            "for_purchase",
            "subscription_purchased_wrong_currency",
            "pre_paid_purchased",
            "geo_commerce_blocked",
            "entitled_to_preview_module",
            "first_device_limitation",
            "collection_purchased",
            "user_suspended",
            "not_for_purchase"
          ],
          "x-enumLabels": [
            "PPV_PURCHASED",
            "FREE",
            "FOR_PURCHASE_SUBSCRIPTION_ONLY",
            "SUBSCRIPTION_PURCHASED",
            "FOR_PURCHASE",
            "SUBSCRIPTION_PURCHASED_WRONG_CURRENCY",
            "PRE_PAID_PURCHASED",
            "GEO_COMMERCE_BLOCKED",
            "ENTITLED_TO_PREVIEW_MODULE",
            "FIRST_DEVICE_LIMITATION",
            "COLLECTION_PURCHASED",
            "USER_SUSPENDED",
            "NOT_FOR_PURCHASE"
          ]
        }
      }
    },
    "KalturaTranslationToken": {
      "description": "Container for translation",
      "properties": {
        "language": {
          "description": "Language code",
          "type": "string"
        },
        "value": {
          "description": "Translated value",
          "type": "string"
        }
      }
    },
    "KalturaPpvPrice": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaProductPrice"
        }
      ],
      "description": "PPV price details",
      "properties": {
        "fileId": {
          "description": "Media file identifier",
          "type": "integer"
        },
        "ppvModuleId": {
          "description": "The associated PPV module identifier",
          "type": "string"
        },
        "isSubscriptionOnly": {
          "description": "Denotes whether this object is available only as part of a subscription or can be sold separately",
          "type": "boolean"
        },
        "fullPrice": {
          "$ref": "#/definitions/KalturaPrice"
        },
        "subscriptionId": {
          "description": "The identifier of the relevant subscription",
          "type": "string"
        },
        "collectionId": {
          "description": "The identifier of the relevant collection",
          "type": "string"
        },
        "prePaidId": {
          "description": "The identifier of the relevant pre paid",
          "type": "string"
        },
        "ppvDescriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTranslationToken"
          }
        },
        "purchaseUserId": {
          "description": "If the item already purchased - the identifier of the user (in the household) who purchased this item",
          "type": "string"
        },
        "purchasedMediaFileId": {
          "description": "If the item already purchased - the identifier of the purchased file",
          "type": "integer"
        },
        "relatedMediaFileIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaIntegerValue"
          }
        },
        "startDate": {
          "description": "If the item already purchased - since when the user can start watching the item",
          "type": "integer"
        },
        "endDate": {
          "description": "If the item already purchased - until when the user can watch the item",
          "type": "integer"
        },
        "discountEndDate": {
          "description": "Discount end date",
          "type": "integer"
        },
        "firstDeviceName": {
          "description": "If the item already purchased and played - the name of the device on which it was first played",
          "type": "string"
        },
        "isInCancelationPeriod": {
          "description": "If waiver period is enabled - donates whether the user is still in the cancelation window",
          "type": "boolean"
        },
        "ppvProductCode": {
          "description": "The PPV product code",
          "type": "string"
        }
      }
    },
    "KalturaPPVItemPriceDetails": {
      "description": "PPV item price details",
      "properties": {
        "ppvModuleId": {
          "description": "The associated PPV module identifier",
          "type": "string"
        },
        "isSubscriptionOnly": {
          "description": "Denotes whether this object is available only as part of a subscription or can be sold separately",
          "type": "boolean"
        },
        "price": {
          "$ref": "#/definitions/KalturaPrice"
        },
        "fullPrice": {
          "$ref": "#/definitions/KalturaPrice"
        },
        "purchaseStatus": {
          "description": "Enum Type: `KalturaPurchaseStatus`\n\nSubscription purchase status",
          "type": "string",
          "enum": [
            "ppv_purchased",
            "free",
            "for_purchase_subscription_only",
            "subscription_purchased",
            "for_purchase",
            "subscription_purchased_wrong_currency",
            "pre_paid_purchased",
            "geo_commerce_blocked",
            "entitled_to_preview_module",
            "first_device_limitation",
            "collection_purchased",
            "user_suspended",
            "not_for_purchase"
          ],
          "x-enumLabels": [
            "PPV_PURCHASED",
            "FREE",
            "FOR_PURCHASE_SUBSCRIPTION_ONLY",
            "SUBSCRIPTION_PURCHASED",
            "FOR_PURCHASE",
            "SUBSCRIPTION_PURCHASED_WRONG_CURRENCY",
            "PRE_PAID_PURCHASED",
            "GEO_COMMERCE_BLOCKED",
            "ENTITLED_TO_PREVIEW_MODULE",
            "FIRST_DEVICE_LIMITATION",
            "COLLECTION_PURCHASED",
            "USER_SUSPENDED",
            "NOT_FOR_PURCHASE"
          ]
        },
        "subscriptionId": {
          "description": "The identifier of the relevant subscription",
          "type": "string"
        },
        "collectionId": {
          "description": "The identifier of the relevant collection",
          "type": "string"
        },
        "prePaidId": {
          "description": "The identifier of the relevant pre paid",
          "type": "string"
        },
        "ppvDescriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTranslationToken"
          }
        },
        "purchaseUserId": {
          "description": "If the item already purchased - the identifier of the user (in the household) who purchased this item",
          "type": "string"
        },
        "purchasedMediaFileId": {
          "description": "If the item already purchased - the identifier of the purchased file",
          "type": "integer"
        },
        "relatedMediaFileIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaIntegerValue"
          }
        },
        "startDate": {
          "description": "If the item already purchased - since when the user can start watching the item",
          "type": "integer"
        },
        "endDate": {
          "description": "If the item already purchased - until when the user can watch the item",
          "type": "integer"
        },
        "discountEndDate": {
          "description": "Discount end date",
          "type": "integer"
        },
        "firstDeviceName": {
          "description": "If the item already purchased and played - the name of the device on which it was first played",
          "type": "string"
        },
        "isInCancelationPeriod": {
          "description": "If waiver period is enabled - donates whether the user is still in the cancelation window",
          "type": "boolean"
        },
        "ppvProductCode": {
          "description": "The PPV product code",
          "type": "string"
        }
      }
    },
    "KalturaItemPrice": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaProductPrice"
        }
      ],
      "description": "PPV price details",
      "properties": {
        "fileId": {
          "description": "Media file identifier",
          "type": "integer"
        },
        "ppvPriceDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPPVItemPriceDetails"
          }
        }
      }
    },
    "KalturaSubscriptionPrice": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaProductPrice"
        }
      ],
      "description": "Subscription price details",
      "properties": {}
    },
    "KalturaHouseholdPaymentGateway": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "payment gateway id",
          "type": "integer"
        },
        "name": {
          "description": "payment gateway name",
          "type": "string"
        },
        "isDefault": {
          "description": "Payment gateway default (true/false)",
          "type": "boolean"
        },
        "selectedBy": {
          "description": "Enum Type: `KalturaHouseholdPaymentGatewaySelectedBy`\n\ndistinction payment gateway selected by account or household",
          "type": "string",
          "enum": [
            "none",
            "account",
            "household"
          ],
          "x-enumLabels": [
            "NONE",
            "ACCOUNT",
            "HOUSEHOLD"
          ]
        }
      }
    },
    "KalturaHouseholdPaymentGatewayListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of household payment gateways.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaHouseholdPaymentGateway"
          }
        }
      }
    },
    "KalturaPaymentGatewayBaseProfile": {
      "description": "Payment gateway base profile",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "payment gateway id",
          "type": "integer"
        },
        "name": {
          "description": "payment gateway name",
          "type": "string"
        },
        "isDefault": {
          "description": "Payment gateway default (true/false)",
          "type": "boolean"
        },
        "selectedBy": {
          "description": "Enum Type: `KalturaHouseholdPaymentGatewaySelectedBy`\n\ndistinction payment gateway selected by account or household",
          "type": "string",
          "enum": [
            "none",
            "account",
            "household"
          ],
          "x-enumLabels": [
            "NONE",
            "ACCOUNT",
            "HOUSEHOLD"
          ]
        }
      }
    },
    "KalturaPaymentGatewayProfile": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaPaymentGatewayBaseProfile"
        }
      ],
      "description": "Payment gateway profile",
      "properties": {
        "isActive": {
          "description": "Payment gateway is active status",
          "type": "integer"
        },
        "adapterUrl": {
          "description": "Payment gateway adapter URL",
          "type": "string"
        },
        "transactUrl": {
          "description": "Payment gateway transact URL",
          "type": "string"
        },
        "statusUrl": {
          "description": "Payment gateway status URL",
          "type": "string"
        },
        "renewUrl": {
          "description": "Payment gateway renew URL",
          "type": "string"
        },
        "paymentGatewayeSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "externalIdentifier": {
          "description": "Payment gateway external identifier",
          "type": "string"
        },
        "pendingInterval": {
          "description": "Pending Interval in minutes",
          "type": "integer"
        },
        "pendingRetries": {
          "description": "Pending Retries",
          "type": "integer"
        },
        "sharedSecret": {
          "description": "Shared Secret",
          "type": "string"
        },
        "renewIntervalMinutes": {
          "description": "Renew Interval Minutes",
          "type": "integer"
        },
        "renewStartMinutes": {
          "description": "Renew Start Minutes",
          "type": "integer"
        }
      }
    },
    "KalturaPaymentGatewayProfileListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "PaymentGatewayProfile list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPaymentGatewayProfile"
          }
        }
      }
    },
    "KalturaParentalRule": {
      "description": "Parental rule",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Unique parental rule identifier",
          "type": "integer"
        },
        "name": {
          "description": "Rule display name",
          "type": "string"
        },
        "description": {
          "description": "Explanatory description",
          "type": "string"
        },
        "order": {
          "description": "Rule order within the full list of rules",
          "type": "integer"
        },
        "mediaTag": {
          "description": "Media asset tag ID to in which to look for corresponding trigger values",
          "type": "integer"
        },
        "epgTag": {
          "description": "EPG asset tag ID to in which to look for corresponding trigger values",
          "type": "integer"
        },
        "blockAnonymousAccess": {
          "description": "Content that correspond to this rule is not available for guests",
          "type": "boolean"
        },
        "ruleType": {
          "description": "Enum Type: `KalturaParentalRuleType`\n\nRule type – Movies, TV series or both",
          "type": "string",
          "enum": [
            "ALL",
            "MOVIES",
            "TV_SERIES"
          ],
          "x-enumLabels": [
            "ALL",
            "MOVIES",
            "TV_SERIES"
          ]
        },
        "mediaTagValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "epgTagValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaStringValue"
          }
        },
        "isDefault": {
          "description": "Is the rule the default rule of the account",
          "type": "boolean"
        },
        "origin": {
          "description": "Enum Type: `KalturaRuleLevel`\n\nWhere was this rule defined account, household or user",
          "type": "string",
          "enum": [
            "invalid",
            "user",
            "household",
            "account"
          ],
          "x-enumLabels": [
            "INVALID",
            "USER",
            "HOUSEHOLD",
            "ACCOUNT"
          ]
        }
      }
    },
    "KalturaParentalRuleListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "ParentalRules list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaParentalRule"
          }
        }
      }
    },
    "KalturaRecording": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Kaltura unique ID representing the recording identifier",
          "type": "integer"
        },
        "status": {
          "readOnly": true,
          "description": "Enum Type: `KalturaRecordingStatus`\n\nRecording state: scheduled/recording/recorded/canceled/failed/does_not_exists/deleted",
          "type": "string",
          "enum": [
            "SCHEDULED",
            "RECORDING",
            "RECORDED",
            "CANCELED",
            "FAILED",
            "DELETED"
          ],
          "x-enumLabels": [
            "SCHEDULED",
            "RECORDING",
            "RECORDED",
            "CANCELED",
            "FAILED",
            "DELETED"
          ]
        },
        "assetId": {
          "description": "Kaltura unique ID representing the program identifier",
          "type": "integer"
        },
        "type": {
          "description": "Enum Type: `KalturaRecordingType`\n\nRecording Type: single/season/series",
          "type": "string",
          "enum": [
            "SINGLE",
            "SEASON",
            "SERIES"
          ],
          "x-enumLabels": [
            "SINGLE",
            "SEASON",
            "SERIES"
          ]
        },
        "viewableUntilDate": {
          "description": "Specifies until when the recording is available for viewing. Date and time represented as epoch.",
          "type": "integer"
        },
        "isProtected": {
          "description": "Specifies whether or not the recording is protected",
          "type": "boolean"
        },
        "createDate": {
          "description": "Specifies when was the recording created. Date and time represented as epoch.",
          "type": "integer"
        },
        "updateDate": {
          "description": "Specifies when was the recording last updated. Date and time represented as epoch.",
          "type": "integer"
        }
      }
    },
    "KalturaRecordingListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Recordings info wrapper",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaRecording"
          }
        }
      }
    },
    "KalturaBillingTransaction": {
      "description": "Billing Transaction",
      "properties": {
        "recieptCode": {
          "readOnly": true,
          "description": "Reciept Code",
          "type": "string"
        },
        "purchasedItemName": {
          "readOnly": true,
          "description": "Purchased Item Name",
          "type": "string"
        },
        "purchasedItemCode": {
          "readOnly": true,
          "description": "Purchased Item Code",
          "type": "string"
        },
        "itemType": {
          "readOnly": true,
          "description": "Enum Type: `KalturaBillingItemsType`\n\nItem Type",
          "type": "string",
          "enum": [
            "unknown",
            "ppv",
            "subscription",
            "pre_paid",
            "pre_paid_expired",
            "collection"
          ],
          "x-enumLabels": [
            "UNKNOWN",
            "PPV",
            "SUBSCRIPTION",
            "PRE_PAID",
            "PRE_PAID_EXPIRED",
            "COLLECTION"
          ]
        },
        "billingAction": {
          "readOnly": true,
          "description": "Enum Type: `KalturaBillingAction`\n\nBilling Action",
          "type": "string",
          "enum": [
            "unknown",
            "purchase",
            "renew_payment",
            "renew_canceled_subscription",
            "cancel_subscription_order",
            "subscription_date_changed"
          ],
          "x-enumLabels": [
            "UNKNOWN",
            "PURCHASE",
            "RENEW_PAYMENT",
            "RENEW_CANCELED_SUBSCRIPTION",
            "CANCEL_SUBSCRIPTION_ORDER",
            "SUBSCRIPTION_DATE_CHANGED"
          ]
        },
        "price": {
          "$ref": "#/definitions/KalturaPrice"
        },
        "actionDate": {
          "readOnly": true,
          "description": "Action Date",
          "type": "integer"
        },
        "startDate": {
          "readOnly": true,
          "description": "Start Date",
          "type": "integer"
        },
        "endDate": {
          "readOnly": true,
          "description": "End Date",
          "type": "integer"
        },
        "paymentMethod": {
          "readOnly": true,
          "description": "Enum Type: `KalturaPaymentMethodType`\n\nPayment Method",
          "type": "string",
          "enum": [
            "unknown",
            "credit_card",
            "sms",
            "pay_pal",
            "debit_card",
            "ideal",
            "incaso",
            "gift",
            "visa",
            "master_card",
            "in_app",
            "m1",
            "change_subscription",
            "offline"
          ],
          "x-enumLabels": [
            "UNKNOWN",
            "CREDIT_CARD",
            "SMS",
            "PAY_PAL",
            "DEBIT_CARD",
            "IDEAL",
            "INCASO",
            "GIFT",
            "VISA",
            "MASTER_CARD",
            "IN_APP",
            "M1",
            "CHANGE_SUBSCRIPTION",
            "OFFLINE"
          ]
        },
        "paymentMethodExtraDetails": {
          "readOnly": true,
          "description": "Payment Method Extra Details",
          "type": "string"
        },
        "isRecurring": {
          "readOnly": true,
          "description": "Is Recurring",
          "type": "boolean"
        },
        "billingProviderRef": {
          "readOnly": true,
          "description": "Billing Provider Ref",
          "type": "integer"
        },
        "purchaseId": {
          "readOnly": true,
          "description": "Purchase ID",
          "type": "integer"
        },
        "remarks": {
          "readOnly": true,
          "description": "Remarks",
          "type": "string"
        }
      }
    },
    "KalturaBillingTransactionListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Billing Transactions",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaBillingTransaction"
          }
        }
      }
    },
    "KalturaPermissionItem": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Permission item identifier",
          "type": "integer"
        },
        "name": {
          "description": "Permission item name",
          "type": "string"
        }
      }
    },
    "KalturaPermission": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Permission identifier",
          "type": "integer"
        },
        "name": {
          "description": "Permission name",
          "type": "string"
        },
        "permissionItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPermissionItem"
          }
        }
      }
    },
    "KalturaUserRole": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "User role identifier",
          "type": "integer"
        },
        "name": {
          "description": "User role name",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPermission"
          }
        }
      }
    },
    "KalturaUserRoleListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "User-roles list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaUserRole"
          }
        }
      }
    },
    "KalturaGroupPermission": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaPermission"
        }
      ],
      "properties": {
        "group": {
          "description": "Permission identifier",
          "type": "string"
        }
      }
    },
    "KalturaApiParameterPermissionItem": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaPermissionItem"
        }
      ],
      "properties": {
        "object": {
          "description": "API object name",
          "type": "string"
        },
        "parameter": {
          "description": "API parameter name",
          "type": "string"
        },
        "action": {
          "description": "Enum Type: `KalturaApiParameterPermissionItemAction`\n\nAPI action type",
          "type": "string",
          "enum": [
            "READ",
            "INSERT",
            "UPDATE",
            "USAGE"
          ],
          "x-enumLabels": [
            "READ",
            "INSERT",
            "UPDATE",
            "USAGE"
          ]
        }
      }
    },
    "KalturaApiActionPermissionItem": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaPermissionItem"
        }
      ],
      "properties": {
        "service": {
          "description": "API service name",
          "type": "string"
        },
        "action": {
          "description": "API action name",
          "type": "string"
        }
      }
    },
    "KalturaInboxMessage": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "message id",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Enum Type: `KalturaInboxMessageStatus`\n\nStatus",
          "type": "string",
          "enum": [
            "Unread",
            "Read",
            "Deleted"
          ],
          "x-enumLabels": [
            "UNREAD",
            "READ",
            "DELETED"
          ]
        },
        "type": {
          "description": "Enum Type: `KalturaInboxMessageType`\n\nType",
          "type": "string",
          "enum": [
            "SystemAnnouncement",
            "Followed"
          ],
          "x-enumLabels": [
            "SYSTEMANNOUNCEMENT",
            "FOLLOWED"
          ]
        },
        "createdAt": {
          "readOnly": true,
          "description": "Created at",
          "type": "integer"
        },
        "url": {
          "description": "url",
          "type": "string"
        }
      }
    },
    "KalturaInboxMessageListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of inbox message.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaInboxMessage"
          }
        }
      }
    },
    "KalturaFollowDataBase": {
      "properties": {
        "announcementId": {
          "readOnly": true,
          "description": "Announcement Id",
          "type": "integer"
        },
        "status": {
          "readOnly": true,
          "description": "Status",
          "type": "integer"
        },
        "title": {
          "readOnly": true,
          "description": "Title",
          "type": "string"
        },
        "timestamp": {
          "readOnly": true,
          "description": "Timestamp",
          "type": "integer"
        },
        "followPhrase": {
          "readOnly": true,
          "description": "Follow Phrase",
          "type": "string"
        }
      }
    },
    "KalturaFollowTvSeries": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaFollowDataBase"
        }
      ],
      "properties": {
        "assetId": {
          "readOnly": true,
          "description": "Asset Id",
          "type": "integer"
        }
      }
    },
    "KalturaFollowTvSeriesListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of message follow data.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaFollowTvSeries"
          }
        }
      }
    },
    "KalturaAnnouncementListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of message announcements from DB.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaAnnouncement"
          }
        }
      }
    },
    "KalturaFeed": {
      "properties": {
        "assetId": {
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "KalturaPersonalFeed": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaFeed"
        }
      ],
      "properties": {}
    },
    "KalturaPersonalFeedListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of message follow data.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPersonalFeed"
          }
        }
      }
    },
    "KalturaTopic": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "message id",
          "type": "string"
        },
        "name": {
          "description": "message",
          "type": "string"
        },
        "subscribersAmount": {
          "description": "message",
          "type": "string"
        },
        "automaticIssueNotification": {
          "description": "Enum Type: `KalturaTopicAutomaticIssueNotification`\n\nautomaticIssueNotification",
          "type": "string",
          "enum": [
            "Inherit",
            "Yes",
            "No"
          ],
          "x-enumLabels": [
            "INHERIT",
            "YES",
            "NO"
          ]
        },
        "lastMessageSentDateSec": {
          "description": "lastMessageSentDateSec",
          "type": "integer"
        }
      }
    },
    "KalturaTopicListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of inbox message.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTopic"
          }
        }
      }
    },
    "KalturaProductPriceListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Prices list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaProductPrice"
          }
        }
      }
    },
    "KalturaItemPriceListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "ItemPrice list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaItemPrice"
          }
        }
      }
    },
    "KalturaBaseChannel": {
      "description": "Slim channel",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Unique identifier for the channel",
          "type": "integer"
        },
        "name": {
          "description": "Channel name",
          "type": "string"
        }
      }
    },
    "KalturaChannel": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaBaseChannel"
        }
      ],
      "description": "Channel details",
      "properties": {
        "description": {
          "description": "Cannel description",
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaMediaImage"
          }
        },
        "assetTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaIntegerValue"
          }
        },
        "filterExpression": {
          "description": "Filter expression",
          "type": "string"
        },
        "isActive": {
          "description": "active status",
          "type": "boolean"
        },
        "order": {
          "description": "Enum Type: `KalturaAssetOrderBy`\n\nChannel order",
          "type": "string",
          "enum": [
            "RELEVANCY_DESC",
            "NAME_ASC",
            "NAME_DESC",
            "VIEWS_DESC",
            "RATINGS_DESC",
            "VOTES_DESC",
            "START_DATE_DESC",
            "START_DATE_ASC",
            "LIKES_DESC"
          ],
          "x-enumLabels": [
            "RELEVANCY_DESC",
            "NAME_ASC",
            "NAME_DESC",
            "VIEWS_DESC",
            "RATINGS_DESC",
            "VOTES_DESC",
            "START_DATE_DESC",
            "START_DATE_ASC",
            "LIKES_DESC"
          ]
        }
      }
    },
    "KalturaPriceDetails": {
      "description": "Price details",
      "properties": {
        "id": {
          "description": "The price code identifier",
          "type": "integer"
        },
        "name": {
          "description": "The price code name",
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/KalturaPrice"
        },
        "descriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTranslationToken"
          }
        }
      }
    },
    "KalturaDiscountModule": {
      "description": "Discount module",
      "properties": {
        "percent": {
          "description": "The discount percentage",
          "type": "number"
        },
        "startDate": {
          "description": "The first date the discount is available",
          "type": "integer"
        },
        "endDate": {
          "description": "The last date the discount is available",
          "type": "integer"
        }
      }
    },
    "KalturaCouponsGroup": {
      "description": "Coupons group details",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Coupon group identifier",
          "type": "string"
        },
        "name": {
          "description": "Coupon group name",
          "type": "string"
        },
        "descriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTranslationToken"
          }
        },
        "startDate": {
          "description": "The first date the coupons in this coupons group are valid",
          "type": "integer"
        },
        "endDate": {
          "description": "The last date the coupons in this coupons group are valid",
          "type": "integer"
        },
        "maxUsesNumber": {
          "description": "Maximum number of uses for each coupon in the group",
          "type": "integer"
        },
        "maxUsesNumberOnRenewableSub": {
          "description": "Maximum number of uses for each coupon in the group on a renewable subscription",
          "type": "integer"
        }
      }
    },
    "KalturaUsageModule": {
      "description": "Pricing usage module",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Usage module identifier",
          "type": "integer"
        },
        "name": {
          "description": "Usage module name",
          "type": "string"
        },
        "maxViewsNumber": {
          "description": "The maximum number of times an item in this usage module can be viewed",
          "type": "integer"
        },
        "viewLifeCycle": {
          "description": "The amount time an item is available for viewing since a user started watching the item",
          "type": "integer"
        },
        "fullLifeCycle": {
          "description": "The amount time an item is available for viewing",
          "type": "integer"
        },
        "couponId": {
          "description": "Identifies a specific coupon linked to this object",
          "type": "integer"
        },
        "waiverPeriod": {
          "description": "Time period during which the end user can waive his rights to cancel a purchase. When the time period is passed, the purchase can no longer be cancelled",
          "type": "integer"
        },
        "isWaiverEnabled": {
          "description": "Indicates whether or not the end user has the right to waive his rights to cancel a purchase",
          "type": "boolean"
        },
        "isOfflinePlayback": {
          "description": "Indicates that usage is targeted for offline playback",
          "type": "boolean"
        }
      }
    },
    "KalturaPricePlan": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaUsageModule"
        }
      ],
      "description": "Price plan",
      "properties": {
        "isRenewable": {
          "description": "Denotes whether or not this object can be renewed",
          "type": "boolean"
        },
        "renewalsNumber": {
          "description": "Defines the number of times the module will be renewed (for the life_cycle period)",
          "type": "integer"
        },
        "priceId": {
          "description": "Unique identifier associated with this object&#39;s price",
          "type": "integer"
        },
        "discountId": {
          "description": "The discount module identifier of the price plan",
          "type": "integer"
        }
      }
    },
    "KalturaPreviewModule": {
      "description": "Preview module",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Preview module identifier",
          "type": "integer"
        },
        "name": {
          "description": "Preview module name",
          "type": "string"
        },
        "lifeCycle": {
          "description": "Preview module life cycle - for how long the preview module is active",
          "type": "integer"
        },
        "nonRenewablePeriod": {
          "description": "The time you can&#39;t buy the item to which the preview module is assigned to again",
          "type": "integer"
        }
      }
    },
    "KalturaSubscription": {
      "description": "Subscription details",
      "properties": {
        "id": {
          "description": "Subscription identifier",
          "type": "string"
        },
        "channels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaBaseChannel"
          }
        },
        "startDate": {
          "description": "The first date the subscription is available for purchasing",
          "type": "integer"
        },
        "endDate": {
          "description": "The last date the subscription is available for purchasing",
          "type": "integer"
        },
        "fileTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaIntegerValue"
          }
        },
        "isRenewable": {
          "description": "Denotes whether or not this subscription can be renewed",
          "type": "boolean"
        },
        "renewalsNumber": {
          "description": "Defines the number of times this subscription will be renewed",
          "type": "integer"
        },
        "isInfiniteRenewal": {
          "description": "Indicates whether the subscription will renew forever",
          "type": "boolean"
        },
        "price": {
          "$ref": "#/definitions/KalturaPriceDetails"
        },
        "discountModule": {
          "$ref": "#/definitions/KalturaDiscountModule"
        },
        "couponsGroup": {
          "$ref": "#/definitions/KalturaCouponsGroup"
        },
        "names": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTranslationToken"
          }
        },
        "descriptions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaTranslationToken"
          }
        },
        "mediaId": {
          "description": "Identifier of the media associated with the subscription",
          "type": "integer"
        },
        "prorityInOrder": {
          "description": "Subscription order (when returned in methods that retrieve subscriptions)",
          "type": "integer"
        },
        "productCode": {
          "description": "Product code for the subscription",
          "type": "string"
        },
        "pricePlans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPricePlan"
          }
        },
        "previewModule": {
          "$ref": "#/definitions/KalturaPreviewModule"
        },
        "householdLimitationsId": {
          "description": "The household limitation module identifier associated with this subscription",
          "type": "integer"
        },
        "gracePeriodMinutes": {
          "description": "The subscription grace period in minutes",
          "type": "integer"
        },
        "premiumServices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaPremiumService"
          }
        },
        "maxViewsNumber": {
          "description": "The maximum number of times an item in this usage module can be viewed",
          "type": "integer"
        },
        "viewLifeCycle": {
          "description": "The amount time an item is available for viewing since a user started watching the item",
          "type": "integer"
        },
        "waiverPeriod": {
          "description": "Time period during which the end user can waive his rights to cancel a purchase. When the time period is passed, the purchase can no longer be cancelled",
          "type": "integer"
        },
        "isWaiverEnabled": {
          "description": "Indicates whether or not the end user has the right to waive his rights to cancel a purchase",
          "type": "boolean"
        },
        "userTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaOTTUserType"
          }
        }
      }
    },
    "KalturaSubscriptionListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Subscriptions list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaSubscription"
          }
        }
      }
    },
    "KalturaProductsPriceListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Prices list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaProductPrice"
          }
        }
      }
    },
    "KalturaEntitlement": {
      "description": "Entitlement",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Enum Type: `KalturaTransactionType`\n\nEntitlement type",
          "type": "string",
          "enum": [
            "ppv",
            "subscription",
            "collection"
          ],
          "x-enumLabels": [
            "PPV",
            "SUBSCRIPTION",
            "COLLECTION"
          ]
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Entitlement identifier",
          "type": "string"
        },
        "currentUses": {
          "readOnly": true,
          "description": "The current number of uses",
          "type": "integer"
        },
        "endDate": {
          "readOnly": true,
          "description": "The end date of the entitlement",
          "type": "integer"
        },
        "currentDate": {
          "readOnly": true,
          "description": "Current date",
          "type": "integer"
        },
        "lastViewDate": {
          "readOnly": true,
          "description": "The last date the item was viewed",
          "type": "integer"
        },
        "purchaseDate": {
          "readOnly": true,
          "description": "Purchase date",
          "type": "integer"
        },
        "purchaseId": {
          "readOnly": true,
          "description": "Purchase identifier (for subscriptions and collections only)",
          "type": "integer"
        },
        "paymentMethod": {
          "readOnly": true,
          "description": "Enum Type: `KalturaPaymentMethodType`\n\nPayment Method",
          "type": "string",
          "enum": [
            "unknown",
            "credit_card",
            "sms",
            "pay_pal",
            "debit_card",
            "ideal",
            "incaso",
            "gift",
            "visa",
            "master_card",
            "in_app",
            "m1",
            "change_subscription",
            "offline"
          ],
          "x-enumLabels": [
            "UNKNOWN",
            "CREDIT_CARD",
            "SMS",
            "PAY_PAL",
            "DEBIT_CARD",
            "IDEAL",
            "INCASO",
            "GIFT",
            "VISA",
            "MASTER_CARD",
            "IN_APP",
            "M1",
            "CHANGE_SUBSCRIPTION",
            "OFFLINE"
          ]
        },
        "deviceUdid": {
          "readOnly": true,
          "description": "The UDID of the device from which the purchase was made",
          "type": "string"
        },
        "deviceName": {
          "readOnly": true,
          "description": "The name of the device from which the purchase was made",
          "type": "string"
        },
        "isCancelationWindowEnabled": {
          "readOnly": true,
          "description": "Indicates whether a cancelation window period is enabled",
          "type": "boolean"
        },
        "maxUses": {
          "readOnly": true,
          "description": "The maximum number of uses available for this item (only for subscription and PPV)",
          "type": "integer"
        },
        "nextRenewalDate": {
          "readOnly": true,
          "description": "The date of the next renewal (only for subscription)",
          "type": "integer"
        },
        "isRenewableForPurchase": {
          "readOnly": true,
          "description": "Indicates whether the subscription is renewable in this purchase (only for subscription)",
          "type": "boolean"
        },
        "isRenewable": {
          "readOnly": true,
          "description": "Indicates whether a subscription is renewable (only for subscription)",
          "type": "boolean"
        },
        "mediaFileId": {
          "readOnly": true,
          "description": "Media file identifier (only for PPV)",
          "type": "integer"
        },
        "mediaId": {
          "readOnly": true,
          "description": "Media identifier (only for PPV)",
          "type": "integer"
        },
        "isInGracePeriod": {
          "readOnly": true,
          "description": "Indicates whether the user is currently in his grace period entitlement",
          "type": "boolean"
        }
      }
    },
    "KalturaEntitlementListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Entitlements list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaEntitlement"
          }
        }
      }
    },
    "KalturaHomeNetwork": {
      "description": "Home network details",
      "properties": {
        "externalId": {
          "description": "Home network identifier",
          "type": "string"
        },
        "name": {
          "description": "Home network name",
          "type": "string"
        },
        "description": {
          "description": "Home network description",
          "type": "string"
        },
        "isActive": {
          "description": "Is home network is active",
          "type": "boolean"
        }
      }
    },
    "KalturaHomeNetworkListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Home networks",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaHomeNetwork"
          }
        }
      }
    },
    "KalturaFavorite": {
      "description": "Favorite details",
      "properties": {
        "assetId": {
          "description": "AssetInfo Model",
          "type": "integer"
        },
        "extraData": {
          "description": "Extra Value",
          "type": "string"
        },
        "createDate": {
          "readOnly": true,
          "description": "Specifies when was the favorite created. Date and time represented as epoch.",
          "type": "integer"
        }
      }
    },
    "KalturaFavoriteListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Favorite list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaFavorite"
          }
        }
      }
    },
    "KalturaOTTUserListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Users list",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaOTTUser"
          }
        }
      }
    },
    "KalturaAssetStatisticsListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "List of assets statistics",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaAssetStatistics"
          }
        }
      }
    },
    "KalturaSlimAssetInfoWrapper": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Slim assets wrapper",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaBaseAssetInfo"
          }
        }
      }
    },
    "KalturaAssetHistory": {
      "description": "Watch history asset info",
      "properties": {
        "assetId": {
          "readOnly": true,
          "description": "Asset identifier",
          "type": "integer"
        },
        "position": {
          "readOnly": true,
          "description": "Position in seconds of the relevant asset",
          "type": "integer"
        },
        "duration": {
          "readOnly": true,
          "description": "Duration in seconds of the relevant asset",
          "type": "integer"
        },
        "watchedDate": {
          "readOnly": true,
          "description": "The date when the media was last watched",
          "type": "integer"
        },
        "finishedWatching": {
          "readOnly": true,
          "description": "Boolean which specifies whether the user finished watching the movie or not",
          "type": "boolean"
        }
      }
    },
    "KalturaAssetHistoryListResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaListResponse"
        }
      ],
      "description": "Watch history asset wrapper",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KalturaAssetHistory"
          }
        }
      }
    },
    "KalturaAppToken": {
      "description": "Application token",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "The id of the application token",
          "type": "string"
        },
        "expiry": {
          "description": "Expiry time of current token (unix timestamp in seconds)",
          "type": "integer"
        },
        "partnerId": {
          "description": "Partner identifier",
          "type": "integer"
        },
        "sessionDuration": {
          "description": "Expiry duration of KS (Kaltura Session) that created using the current token (in seconds)",
          "type": "integer"
        },
        "hashType": {
          "description": "Enum Type: `KalturaAppTokenHashType`\n\nThe hash type of the token",
          "type": "string",
          "enum": [
            "SHA1",
            "SHA256",
            "SHA512",
            "MD5"
          ],
          "x-enumLabels": [
            "SHA1",
            "SHA256",
            "SHA512",
            "MD5"
          ]
        },
        "sessionPrivileges": {
          "description": "Comma separated privileges to be applied on KS (Kaltura Session) that created using the current token",
          "type": "string"
        },
        "sessionType": {
          "description": "Enum Type: `KalturaSessionType`\n\nType of KS (Kaltura Session) that created using the current token",
          "type": "integer",
          "enum": [
            0,
            2
          ],
          "x-enumLabels": [
            "USER",
            "ADMIN"
          ]
        },
        "status": {
          "readOnly": true,
          "description": "Enum Type: `KalturaAppTokenStatus`\n\nApplication token status",
          "type": "integer",
          "enum": [
            0,
            1,
            2
          ],
          "x-enumLabels": [
            "DELETED",
            "DISABLED",
            "ACTIVE"
          ]
        },
        "token": {
          "description": "The application token",
          "type": "string"
        },
        "sessionUserId": {
          "description": "User id of KS (Kaltura Session) that created using the current token",
          "type": "string"
        }
      }
    },
    "KalturaSession": {
      "description": "Kaltura Session",
      "properties": {
        "ks": {
          "description": "KS",
          "type": "string"
        },
        "sessionType": {
          "description": "Enum Type: `KalturaSessionType`\n\nSession type",
          "type": "integer",
          "enum": [
            0,
            2
          ],
          "x-enumLabels": [
            "USER",
            "ADMIN"
          ]
        },
        "partnerId": {
          "description": "Partner identifier",
          "type": "integer"
        },
        "userId": {
          "description": "User identifier",
          "type": "string"
        },
        "expiry": {
          "description": "Expiry",
          "type": "integer"
        },
        "privileges": {
          "description": "Privileges",
          "type": "string"
        },
        "udid": {
          "description": "udid",
          "type": "string"
        }
      }
    },
    "KalturaSessionInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaSession"
        }
      ],
      "description": "Kaltura Session",
      "properties": {}
    },
    "KalturaCatalogWithHolder": {
      "description": "Holder object for Catalog With enum",
      "properties": {
        "type": {
          "description": "Enum Type: `KalturaCatalogWith`",
          "type": "string",
          "enum": [
            "images",
            "files",
            "stats"
          ],
          "x-enumLabels": [
            "IMAGES",
            "FILES",
            "STATS"
          ]
        }
      }
    },
    "KalturaAssetFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaFilter"
        }
      ],
      "properties": {}
    },
    "KalturaBundleFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAssetFilter"
        }
      ],
      "properties": {
        "idEqual": {
          "description": "Bundle Id.",
          "type": "integer"
        },
        "typeIn": {
          "description": "Comma separated list of asset types to search within. \r\n            Possible values: 0 – EPG linear programs entries, any media type ID (according to media type IDs defined dynamically in the system).\r\n            If omitted – all types should be included.",
          "type": "string"
        },
        "bundleTypeEqual": {
          "description": "Enum Type: `KalturaBundleType`\n\nbundleType - possible values: Subscription or Collection",
          "type": "string",
          "enum": [
            "subscription",
            "collection"
          ],
          "x-enumLabels": [
            "SUBSCRIPTION",
            "COLLECTION"
          ]
        }
      }
    },
    "KalturaChannelExternalFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAssetFilter"
        }
      ],
      "properties": {
        "idEqual": {
          "description": "External Channel Id.",
          "type": "integer"
        },
        "utcOffsetEqual": {
          "description": "UtcOffsetEqual",
          "type": "string"
        },
        "freeText": {
          "description": "FreeTextEqual",
          "type": "string"
        }
      }
    },
    "KalturaChannelFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAssetFilter"
        }
      ],
      "properties": {
        "idEqual": {
          "description": "Channel Id",
          "type": "integer"
        },
        "kSql": {
          "type": "string"
        }
      }
    },
    "KalturaRelatedFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAssetFilter"
        }
      ],
      "properties": {
        "kSql": {
          "description": "Search assets using dynamic criteria. Provided collection of nested expressions with key, comparison operators, value, and logical conjunction.\r\n            Possible keys: any Tag or Meta defined in the system and the following reserved keys: start_date, end_date. \r\n            epg_id, media_id - for specific asset IDs.\r\n            geo_block - only valid value is &quot;true&quot;: When enabled, only assets that are not restriced to the user by geo-block rules will return.\r\n            parental_rules - only valid value is &quot;true&quot;: When enabled, only assets that the user doesn&#39;t need to provide PIN code will return.\r\n            epg_channel_id – the channel identifier of the EPG program.\r\n            entitled_assets - valid values: &quot;free&quot;, &quot;entitled&quot;, &quot;both&quot;. free - gets only free to watch assets. entitled - only those that the user is implicitly entitled to watch.\r\n            Comparison operators: for numerical fields =, &gt;, &gt;=, &lt;, &lt;=, : (in). For alpha-numerical fields =, != (not), ~ (like), !~, ^ (starts with). Logical conjunction: and, or. \r\n            Search values are limited to 20 characters each.\r\n            (maximum length of entire filter is 1024 characters)",
          "type": "string"
        },
        "idEqual": {
          "description": "the ID of the asset for which to return related assets",
          "type": "string"
        },
        "typeIn": {
          "description": "Comma separated list of asset types to search within. \r\n            Possible values: 0 – EPG linear programs entries, any media type ID (according to media type IDs defined dynamically in the system).\r\n            If omitted – all types should be included.",
          "type": "string"
        }
      }
    },
    "KalturaRelatedExternalFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAssetFilter"
        }
      ],
      "properties": {
        "idEqual": {
          "description": "the External ID of the asset for which to return related assets",
          "type": "integer"
        },
        "typeIn": {
          "description": "Comma separated list of asset types to search within. \r\n            Possible values: 0 – EPG linear programs entries, any media type ID (according to media type IDs defined dynamically in the system).\r\n            If omitted – all types should be included.",
          "type": "string"
        },
        "utcOffsetEqual": {
          "description": "UtcOffsetEqual",
          "type": "integer"
        },
        "freeText": {
          "description": "FreeText",
          "type": "string"
        }
      }
    },
    "KalturaSearchAssetFilter": {
      "allOf": [
        {
          "$ref": "#/definitions/KalturaAssetFilter"
        }
      ],
      "properties": {
        "kSql": {
[...]
