<% result.each_index do | index | profile = result.fetch(index) %>
  <div class="row">
    <div class="col-xs-8">
      <%= render "metadata_show.html.erb", :result => profile %>
    </div>
    <div class="col-xs-4 text-center">
      <h2>
        <a class="btn btn-danger"
         data-action="deleteMetadata"
         data-view="metadataDeletedView"
         data-answers="{id: <%= profile.id %>}">
         Delete
      </a>

      </h2>
    </div>
  </div>
<% end %>