doctype html
html
  head
    title Kaltura VPaaS API Console
    meta(name="description" content="Documentation and test console for the Kaltura Video Platform API")
    meta(name="keywords" content="Kaltura, Video, VPaaS, API, API console, documentation")

    include ./includes/head

    link(rel='stylesheet' href='/css/embed.css')

    style.
      iframe { padding-bottom: 20px; }

  body(ng-app="App")
    div(ng-controller="Body")
      mixin container
        .container-fluid
          block
      include ./includes/navbar.jade
    .iframe-container
      iframe(src="/console_embed")
    script.
      $(document).ready(function() {
        $('iframe').load(function() {
          var frame = $('iframe')[0].contentWindow;
          if (window.location.hash) {
            frame.location.hash = window.location.hash;
          }
          var lastHash = frame.location.hash;
          setInterval(function() {
            if (window.location.hash !== lastHash) {
              lastHash = frame.location.hash = window.location.hash;
            } else if (frame.location.hash !== lastHash) {
              lastHash = window.location.hash = frame.location.hash;
            }
          }, 1000)
        })
      })
