meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

link(href='/css/styles.css', rel='stylesheet')

link(href="/bower/highlightjs/styles/github.css", rel="stylesheet")

script(src='/bower/jquery/dist/jquery.min.js')
script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower/angular/angular.min.js')
script(src='/bower/highlightjs/highlight.pack.js')
script(src='/bower/angular-highlightjs/angular-highlightjs.min.js')
script(src='/bower/angular-zeroclipboard/src/angular-zeroclipboard.js')
script(src='/bower/marked/lib/marked.js')
script(src='/bower/angular-marked/angular-marked.js')

link(rel="stylesheet" href="/bower/chosen/chosen.min.css")
script(src='/bower/angular-chosen-localytics/chosen.js')
script(src='/bower/chosen/chosen.jquery.js')

script(type="text/javascript" src="/js/ox.ajast.js")
script(type="text/javascript" src="/js/webtoolkit.md5.js")
script(type="text/javascript" src="/js/KalturaClientBase.js")
script(type="text/javascript" src="/js/KalturaTypes.js")
script(type="text/javascript" src="/js/KalturaVO.js")
script(type="text/javascript" src="/js/KalturaServices.js")
script(type="text/javascript" src="/js/KalturaClient.js")
script(type="text/javascript").
  var startKalturaSession = function(partnerID, userId, secret) {
    var config = new KalturaConfiguration(partnerID);
    config.serviceUrl = "http://www.kaltura.com/";
    window.KC = new KalturaClient(config);
    KC.session.start(function(success, ks) {
      if (!success || (ks.code && ks.message)) return console.log('Kaltura Error', success, ks);
      KC.setKs(ks);
    }, secret,
    userId,
    KalturaSessionType.ADMIN,
    partnerID) 
  }

script(src="/js/ng/app.js")
