extends layout

block body

  .container
    h1 Kaltura Recipes
    hr
    .row
      each recipe, recipeName in recipes
        .col-xs-12
          h3
            a(href="/recipes/#{recipeName}") #{recipe.title}
            if recipe.broken
              b &nbsp;(In Progress)
          p #{recipe.description}
          if recipe.notes
            p
              b Issues:
            each note in recipe.notes
              p
                i #{note}
