extends layout

block head
  link(rel="stylesheet" href="/css/home.css")

block body

  .container
    .row
      each recipe, recipeName in recipes
        if !recipe.broken
          .col-xs-12.col-md-4.text-center.recipe-col
            a.recipe-link(href="/recipes/#{recipeName}")
            .recipe-item
              h3.recipe-title #{recipe.title}
              p.recipe-icon.fa(class="fa-#{ recipe.icon || 'plug' }")
              p.recipe-description.text-left #{recipe.description}
