doctype html
html
  head
    title=title

    meta(name="description" content="Code Recipes for using the Kaltura VPaaS")
    include ./includes/head
    link(rel='stylesheet' href='/css/home.css')
    script.
      var RECIPES = !{JSON.stringify(Object.keys(recipes).map(function(k) {return recipes[k]}))};
    script(src="/js/ng/home.js")

  body(ng-app="App")
    div(ng-controller="Body")
      mixin container
        .container
          block
      include ./includes/navbar.jade

      div(ng-controller="Recipes")
        .form-group.bg-primary.search-bar
          .container
            .row
              .col-xs-12.col-sm-9
                .input-group
                  input.form-control(type="text" ng-model="query" placeholder="Search for code recipes")
                  span.input-group-addon
                    i.fa.fa-search.bg-white
              .hidden-xs.col-sm-3
                .btn-toolbar.pull-right
                  .btn-group
                    .btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Sort
                      span(ng-show="sortOptions.active") : {{sortOptions.active}}
                      i.fa.fa-right.fa-caret-down
                    ul.dropdown-menu
                      li
                        a(ng-click="sortOptions.active = null") Default
                      li(ng-repeat="opt in sortOptions")
                        a(ng-click="sortOptions.active = opt" ng-bind="opt")
                  .btn-group
                    .btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Filter
                      span(ng-show="filterOptions.active") : {{filterOptions.active}}
                      i.fa.fa-right.fa-caret-down
                    ul.dropdown-menu
                      li
                        a(ng-click="filterOptions.active = null") None
                      li(ng-repeat="opt in filterOptions")
                        a(ng-click="filterOptions.active = opt" ng-bind="opt")
        .container
          .row
            .col-xs-12.col-sm-6.col-lg-4.text-center.recipe-col(
                  ng-repeat="recipe in matchingRecipes = (recipes | filter: query | filter: recipeFilter | orderBy: recipeSort)"
                  ng-if="!recipe.broken && !recipe.hidden")
              .panel.panel-warning
                a.info-button(ng-click="showRecipeInfo = !showRecipeInfo")
                  i.fa.fa-2x(ng-class="{'fa-info-circle': !showRecipeInfo, 'fa-times': showRecipeInfo}")
                .panel-heading
                  a.recipe-link(ng-click="openRecipe(recipe.name)")
                  .heading-icon.text-center
                    i.fa.fa-left(ng-class="'fa-' + (recipe.icon || 'plug')")
                  .heading-title.text-uppercase.text-left
                    span(ng-bind="recipe.title")
                .panel-body.pointer.text-left(ng-click="openRecipe(recipe.name)" ng-class="{'flipped': showRecipeInfo}")
                  .panel-back
                    p(ng-bind="recipe.tip" ng-show="showRecipeInfo")
                  .panel-front
                    p(ng-bind="recipe.description" ng-show="!showRecipeInfo")
                    .row(ng-show="!showRecipeInfo")
                      .col-xs-10
                        .keyword-badge(ng-repeat="keyword in recipe.keywords" ng-bind="keyword")
          .row.suggestion-bar
            .col-xs-12(ng-controller="Suggestion")
              h4.text-black Can't find what you're looking for?
              .alert.alert-success(ng-show="success") Thanks for your feedback!
              form(ng-submit="sendSuggestion()")
                .form-group
                  span Let us know what we're missing.
                  textarea.form-control(ng-model="suggestion")
                .form-group
                  button.btn.btn-sm.btn-primary(type="submit") Submit
