doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

    link(href='/css/styles.css', rel='stylesheet')
    link(rel="stylesheet" href="/css/home.css")
    script(src='/js/mixpanel.js')
    script.
      mixpanel.track('home')
    title Kaltura VPaaS Interactive Code Cookbook

    script(src="/bower/angular/angular.min.js")
    script.
      var App = angular.module('App', []);
      App.controller('Recipes', function($scope) {
        $scope.recipes = $scope.matchingRecipes =
          !{JSON.stringify(Object.keys(recipes).map(function(k) {return recipes[k]}))};
        $scope.$watch('query', function(q) {
          if (q) {
            q = q.toLowerCase();
            $scope.matchingRecipes = $scope.recipes.filter(function(r) {
              return r.title.toLowerCase().indexOf(q) !== -1 ||
                     r.description.toLowerCase().indexOf(q) !== -1
            })
          } else {
            $scope.matchingRecipes = $scope.recipes;
          }
        })
      })

body(ng-app="App")
  .container(ng-controller="Recipes")
    .row
      .col-xs-12
        .form-group
          input.form-control(type="text" ng-model="query" placeholder="Search")
    .row
      .col-xs-12.col-sm-6.col-md-4.text-center.recipe-col(
            ng-repeat="recipe in matchingRecipes"
            ng-if="!recipe.broken")
        a.recipe-link(href="/recipes/{{recipe.name}}")
        .recipe-item
          h3.recipe-title {{recipe.title}}
          p.recipe-icon.fa(ng-class="'fa-' + (recipe.icon || 'plug')")
          p.recipe-description.text-left {{recipe.description}}
