doctype html
html
  head
    title=title
    meta(name="description" content="#{recipe.description}")
    meta(name="keywords" content="#{(recipe.keywords || []).join(',')}")
    include ./includes/head
    link(rel='stylesheet' href='/css/embed.css')

  body(ng-app="App")
    div(ng-controller="Body")
      mixin container
        .container-fluid
          block
      include ./includes/navbar.jade
    .iframe-container
      iframe(src="#{iframeURL}")
