<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
    </script>
    <script src="/js/ox.ajast.js"></script>
    <script src="/js/webtoolkit.md5.js"></script>
    <script src="/js/KalturaClientBase.js"></script>
    <script src="/js/KalturaTypes.js"></script>
    <script src="/js/KalturaVO.js"></script>
    <script src="/js/KalturaServices.js"></script>
    <script src="/js/KalturaClient.js"></script>
    <script src="/js/vendor/jquery.ui.widget.js"></script>
    <script src="/js/jquery.fileupload.js"></script>
    <script src="/js/jquery.fileupload-kaltura.js"></script>

    <script>
      var config = new KalturaConfiguration(102);
      config.serviceUrl = "http://jessex";
      var client = new KalturaClient(config);
      client.session.start(function(success, ks) {
        if (!success || (ks.code && ks.message)) {
          console.log('Error starting session', success, ks);
          $('#ErrorMessage').text(ks.message || 'Unknown Error').show();
        } else {
          client.setKs(ks);
        }
        // Note: this is meant only as a sample.
        // You should NEVER generate sessions on the client,
        // as this exposes your Admin Secret to users.
        // Instead, generate a session on the server and pass the
        // KS to the client.
      }, "e472b44321fe63f669d825479b21cdb2",
      "lucybot@example.com",
      KalturaSessionType.USER,
      102)
    </script>
    <script src="https://cdnapisec.kaltura.com/p/102/sp/10200/embedIframeJs/uiconf_id/30633631/partner_id/102"></script>
    <script type="text/javascript">
      var listMedia = function(request, callback) {
        filter = new KalturaMediaEntryFilter();

        pager = new KalturaFilterPager();


        var getResults = function() {
          if (!client.ks) return setTimeout(getResults, 100);
          client.media.listAction(function(success, results) {
            if (!success || (results && results.code && results.message)) {
              console.log('Kaltura Error', success, results);
              callback(results)
            } else {
              console.log('Kaltura Result', results);
              callback(results.objects)
            }
          },
          filter,
          pager);
        }
        getResults();
      };
    </script>
  </head>
  <body>
    <script id="DynamicThumbnails-template" type="text/x-underscore-template" style="display: none">
      <script src="/js/kaltura_thumb_rotator.js"><% print("</"+"script>"); %>
      <style>
        .player-col {
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
          padding: 15px;
        }
      </style>
      <div class="row">
        <div class="player-col col-xs-8 col-xs-offset-2 text-center">
          <div id="kaltura_player" style="width: 420px; height: 300px; margin: auto;">
            <script src="https://cdnapisec.kaltura.com/p/102/sp/10200/embedIframeJs/uiconf_id/30633631/partner_id/102?autoembed=true&playerId=kaltura_player&cache_st=1435602081&width=420&height=300">
            <% print("</"+"script>"); %>
          </div>
          <p class="small">Click on a thumbnail to choose a video</p>
        </div>
      </div>
      <hr></hr>
      <% result.forEach(function(video, index) { %>
        <% if(index < 10) { %>
          <div class="row">
            <div class="col-xs-3 text-center">
              <img src="https://cdnapisec.kaltura.com/p/<%= video.partnerId %>/thumbnail/entry_id/<%= video.id %>/width/240/height/180" width="240" height="180" onmouseover="KalturaThumbRotator.start(this)" onmouseout="KalturaThumbRotator.end(this)" onclick="$('#kaltura_player')[0].sendNotification('changeMedia', {entryId: '<%= video.id %>'})"></img>
            </div>
            <div class="col-xs-8 col-xs-offset-1">
              <h3><%= video.name %></h3>
              <p><%= video.description %></p>
              <p>
                <a href="<%= video.downloadUrl %>" target="_blank"><%= video.downloadUrl %></a>
              </p>
            </div>
          </div>
          <hr></hr>
        <% } %>
      <% }); %>
    </script>
    <script type="text/javascript">
      var DynamicThumbnailsView = _.template($('#DynamicThumbnails-template').text());
    </script>

    <div id="ErrorMessage" class="alert alert-danger" style="display: none"></div>
    <div class="container" style="margin-top:40px">
    </div>
    <script type="text/javascript">
      listMedia({
      }, function(result) {
        $('.container').html(DynamicThumbnailsView({result: result}));
      })
    </script>
    <script>
      $(".container").on('click', "a[data-action]", function(event) {
        var el = $(event.target);
        var action = window[el.attr('data-action')];
        var view = window[el.attr('data-view')];
        eval('var answers = ' + el.attr('data-answers'));
        action(answers, function(result) {
          el.parent().html(view({result: result}));
        })
      })
    </script>
  </body>
</html>
