<script>
  $('#UploadStatus').text('Uploaded file <%= result.file_name %>. Creating entry...');
</script>

<div class="KalturaMediaEntry"></div>
<script>
  var element = $('.KalturaMediaEntry').last();
  element[0].loadData = function() {
    $('.KalturaMediaEntry').last().load('CreateMediaEntry', {
       name: <%== result.file_name.to_json %>,
       upload_token_id: <%== result.id.to_json %>,
    });
  }
  element[0].loadData();
</script>