<script>
  $('#UploadStatus').text('Uploaded file <%= result.file_name %>. Creating entry...');
</script>

<div class="CreatedEntry"></div>
<script>
  var element = $('.CreatedEntry').last();
  element[0].loadData = function() {
    $('.CreatedEntry').last().load('CreateMediaEntry', {
       name: <%= result.fileName.to_json %>,
       uploadTokenId: <%= result.id.to_json %>,
    });
  }
  element[0].loadData();
</script>