.navbar {
  border-radius: 0px;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar a {
  text-align: left;
}

.navbar ul {
  margin-right: 0;
}

li.signed-in {
  line-height: 45px;
}

.navbar .navbar-brand {
  padding: 4px;
  padding-left: 15px;
}

.navbar img {
  max-height: 100%;
}

