.fa-right {
  margin-left: 8px;
}
.fa-left {
  margin-right: 8px;
}

.navbar {
  border-radius: 0px;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar a {
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
}

li.signed-in {
  padding-left: 15px;
}

.navbar-default .navbar-nav > li.active > a {
  background-color: #008096;
}

.navbar-default .navbar-nav > li > a {
  text-align: left;
  color: #333;
}

.navbar ul {
  margin-right: 0;
}

li.signed-in {
  line-height: 45px;
}

.navbar .navbar-brand {
  padding: 4px;
  padding-left: 15px;
}

.navbar img {
  max-height: 100%;
}

.btn.text-left {
  text-align: left;
}


