<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
    </script>
    <script src="/js/ox.ajast.js"></script>
    <script src="/js/webtoolkit.md5.js"></script>
    <script src="/js/KalturaClientBase.js"></script>
    <script src="/js/KalturaTypes.js"></script>
    <script src="/js/KalturaVO.js"></script>
    <script src="/js/KalturaServices.js"></script>
    <script src="/js/KalturaClient.js"></script>
    <script src="/js/vendor/jquery.ui.widget.js"></script>
    <script src="/js/jquery.fileupload.js"></script>
    <script src="/js/jquery.fileupload-kaltura.js"></script>

    <script>
      var config = new KalturaConfiguration(1760921);
      config.serviceUrl = "http://www.kaltura.com/";
      var client = new KalturaClient(config);
      client.session.start(function(success, ks) {
        if (!success || (ks.code && ks.message)) {
          console.log('Error starting session', success, ks);
          $('#ErrorMessage').text(ks.message || 'Unknown Error').show();
        } else {
          client.setKs(ks);
        }
      }, "8d6cb692ab0f41bfa6bde373204c4b40",
      null,
      KalturaSessionType.ADMIN,
      1760921)
    </script>
    <script type="text/javascript">
      var listEventNotificationTemplate = function(request, callback) {
        filter = new KalturaEventNotificationTemplateFilter();
        pager = new KalturaFilterPager();

        var getResults = function() {
          if (!client.ks) return setTimeout(getResults, 100);
          client.eventNotificationTemplate.listAction(function(success, results) {
            if (!success || (results.code && results.message)) {
              console.log('Kaltura Error', success, results);
            } else {
              console.log('Kaltura Result', results);
              callback(results.objects)
            }
          },
          filter,
          pager);
        }
        getResults();
      };
    </script>
  </head>
  <body>
    <script id="KalturaEventNotificationTemplateListResponse-template" type="text/x-underscore-template" style="display: none">
      <h1>Notification Templates</h1>
      <hr></hr>
      <% result.forEach(function(template, index) { %>
        <h3><%= template.name %></h3>
        <p>Type: <%= template.type %></p>
        <p>URL: <%= template.url %></p>
        <p>Conditions: </p>
        <ul>
          <% template.eventConditions.forEach(function(condition, index) { %>
            <li><%= condition.modifiedColumns %> - <%= condition.description %></li>
          <% }); %>
        </ul>
        <hr></hr>
      <% }); %>
      <%
          print(AddNotificationEvent({result: result}));
      %>
    </script>
    <script type="text/javascript">
      var KalturaEventNotificationTemplateListResponse = _.template($('#KalturaEventNotificationTemplateListResponse-template').text());
    </script>

    <script id="AddNotificationEvent-template" type="text/x-underscore-template" style="display: none">
      <form id="AddEventNotificationTemplateForm">
        <div class="form-group">
          <label>E-mail Address</label>
          <input class="form-c" type="text" name="email"></input>
        </div>
        <div class="form-group">
          <input class="btn btn-success" type="submit" value="Add Notification"></input>
        </div>
      </form>
      <script>
        $('#AddEventNotificationTemplateForm').submit(function() {
          var template = new KalturaEmailNotificationTemplate();
          template.type = KalturaEventNotificationTemplateType.EMAIL;
          template.eventType = KalturaEventNotificationEventType.OBJECT_CREATED;
          template.eventObjectType = KalturaEventNotificationEventObjectType.ENTRY;
          template.contentParameters = [new KalturaEventNotificationParameter()]
          template.subject = 'Your video is ready!';
          template.body = 'Go check it out at http://kmc.kaltura.com/index.php/kmc/kmc4#content|moderation';
          var recipient = new KalturaEmailNotificationRecipient();
          recipient.email = $('input[name="email"]').val();
          template.to = new KalturaEmailNotificationStaticRecipientProvider();
          template.to.emailRecipients = [recipient];
          client.eventNotificationTemplate.add(function(success, template) {
            console.log('added', success, template);
            listEventNotificationTemplate({}, function(result) {
              $('.container').html(KalturaEventNotificationTemplateListResponse({result: result}));
            })
          }, template);
          return false;
        })
      <% print("</"+"script>"); %>
    </script>
    <script type="text/javascript">
      var AddNotificationEvent = _.template($('#AddNotificationEvent-template').text());
    </script>

    <div id="ErrorMessage" class="alert alert-danger" style="display: none"></div>
    <div class="container" style="margin-top:40px">
    </div>
    <script type="text/javascript">
      listEventNotificationTemplate({}, function(result) {
        $('.container').html(KalturaEventNotificationTemplateListResponse({result: result}));
      })
    </script>
  </body>
</html>