<form id="AddAdCuePointForm">
  <div class="form-group">
    <label>Start Time (ms)</label>
    <input class="form-control" type="number" name="startTime">
  </div>
  <div class="form-group">
    <label>VAST Source URL</label>
    <input class="form-control" type="text" name="sourceUrl" value="http://projects.kaltura.com/mdale/hotelVastAd.xml">
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" value="Add Cue Point">
  </div>
</form>
<hr>
<div id="CuePointAdded"></div>
