<h1>Cue Points</h1>
<hr></hr>
<% if(result.length === 0) { %>
  <i>No cue points found</i>
<% } %>
<% result.forEach(function(cuePoint, index) { %>
  <h3><%- cuePoint.code %></h3>
  <p><%- cuePoint.startTime %>ms - <%- cuePoint.endTime %>ms</p>
  <p><%- cuePoint.description %></p>
<% }); %>
<% include AddCodeCuePoint -%>
<hr></hr>