<table class="table">
  <tr>
    <td></td><td>Name</td><td>Rank</td><td>Votes</td></tr>
  
<% result.forEach(function(video, index) { %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= video.name %></td>
    <td><%= video.rank %></td>
    <td><%= video.votes %></td>
  </tr>
<% }); %>
</table>