<lucy include="AddAppTokenForm"></lucy>
<script>
  $('#AddAppTokenForm').submit(function() {
    var data = new FormData(document.getElementById('AddAppTokenForm'));
    data.sessionType = parseInt(data.sessionType);
     $.ajax({
       url: '/addAppToken.php',
       type: 'POST',
       data: data,
       contentType: false,
       cache: false,
       processData: false,
       success: function (data, textStatus, jqXHR) {
         $('.container').load('listAppToken.php', JSON.parse(data));
       }
     });
    return false;
  })
</script>
