<h1>Video Upload</h1>
<script type="text/javascript">
  var setupUpload = function() {
    if (!client.ks) return setTimeout(setupUpload, 100);
    console.log('setup upload');
    file = $('input[type="file"]').fileupload({
      apiURL:'http://www.kaltura.com/api_v3/',
      url: 'http://www.kaltura.com/api_v3/?service=uploadToken&action=upload&format=1',
      ks: client.ks,
      ignoreChunkHeader:true,
      singleFileUploads:true,
      dataType: 'json',
      autoUpload: true,
      disableImageResize: false,
      previewMaxWidth: 100,
      previewMaxHeight: 100,
      previewCrop: true
    });
  };
  $(document).ready(setupUpload);
</script>
<label>Video to Upload</label>
<input type="file" name="fileData">
