<form id="AddQuestionCuePointForm">
  <div class="form-group">
    <label>Question</label>
    <input class="form-control" type="text" name="question">
  </div>
  <div class="form-group">
    <label>First answer</label>
    <input class="form-control" type="text" name="answer0">
  </div>
  <div class="form-group">
    <label>Second answer</label>
    <input class="form-control" type="text" name="answer1">
  </div>
  <div class="form-group">
    <label>Start Time (ms)</label>
    <input class="form-control" type="number" name="startTime">
  </div>
  <div class="form-group">
    <input class="btn btn-success" type="submit" value="Add Question">
  </div>
</form>
<hr>
<div id="QuestionCuePointAdded"></div>

