<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12 col-md-5">
    <h2>{{result.name}}</h2>
    <p>{{result.description}}</p>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-1">
    <script src="https://cdnapisec.kaltura.com/p/{{ result.partnerId }}/sp/{{ result.partnerId }}00/embedIframeJs/uiconf_id/{{ answers.uiConf }}/partner_id/{{ result.partnerId }}">
    </script>
    <div id="kaltura_player_{{ result.id }}" style="width: 560px; height: 395px;">
    </div>
    <script>
    kWidget.thumbEmbed({
      "targetId": "kaltura_player_{{ result.id }}",
      "wid": "_{{ result.partnerId }}",
      "uiconf_id": {{ answers.uiConf }},
      "flashvars": {},
      "cache_st": 1437326770,
      "ks": window.ks,
      "entry_id": "{{ result.id }}"
    });
    </script>
  </div>
</div>
