<div id="setupKRecord_msg">
  <h2 id="krecord_msg">Starting the KRecord widget...</h2>
</div>

<!--
///*****************************
///****
///**** Step 2: Embedding and Configuring the KRecord widget:
///**** Pay special attention to the flashvars in the below embed, this is what configures the KRecord to properly do Live Stream instead of just recording.
///*****************************
-->

<div id="krecordwrapper" style="width:320px;height:240px;">
  <object type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" 
          data="http://cdnapi.kaltura.com/krecord/ui_conf_id/<%- Lucy.answer('kRecordLiveUiConfId') %>" 
          id="krecord" width="100%" height="100%">
    <param name="allowScriptAccess" value="always" />
    <param name="allowNetworking" value="all" />
    <param name="wmode" value="opaque" />
    <param name="flashvars" value="debugmode=true&isLive=true&delegate=krecordHandler&rtmpHost=<%- Lucy.answer('streamHost') %>&localeUrl=http://cdnapi.kaltura.com/flash/krecord/v1.7/locale.xml&themeUrl=http://cdnapi.kaltura.com/flash/krecord/v1.7/skin.swf&fmsApp=<%- Lucy.answer('streamApp') %>&streamName=<%- Lucy.answer('streamName') %>&showUi=false&showPreviewTimer=false&autoPreview=false&disableGlobalClick=true&soundRate=44&ish264=true&h264profile=baseline&h264level=3.1&fps=25&soundCodec=Speex&ks=<%- Lucy.answer('ks') %>&pid=<%- Lucy.answer('partnerId') %>">
    <param name="movie" value="http://cdnapi.kaltura.com/krecord/ui_conf_id/<%- Lucy.answer('kRecordLiveUiConfId') %>" />
  </object>
</div>

<div class="span5 offset1">
  <button id="btn_stream" style="display: none;" class="btn btn-primary btn-large" onclick="startStreaming()" >
    Start Streaming
  </button>
  <button id="btn_stop" style="display: none;" class="btn btn-danger btn-large" onclick="stopStreaming()" >
    Stop Streaming
  </button>
</div>

<h2 id="playertype"></h2>
<div id="kaltura_player" style="display: none; width: 560px; height: 395px;"></div>
<div id="setupLiveStream_msg" style="display: none;">
  <h2>Setting up your broadcast stream...</h2>
  <p>Please wait for the live stream to begin. grab a coffee, it can take a few minutes...</p>
</div>

