<h1>Notification Templates</h1>
<hr></hr>
<% result.each_index do | index | template = result.fetch(index) %>
  <%= render "kaltura_event_notification_template.html.erb", :result => template %>
<% end %>