<h1>Cue Points</h1>
<hr></hr>
<% if result.length === 0 %>
  <i>No cue points found</i>
<% end %>
<% result.each_index do | index | cuePoint = result.fetch(index) %>
  <p>
    <%= cuePoint.cue_point_type %> starting at <%= cuePoint.start_time %> milliseconds
  </p>
<% end %>
<%= render "add_ad_cue_point.html.erb" %>
<hr></hr>